[2014-10-05 16:07] bennycode opened #1 "Test lowercase values"
The values for `.editorconfig` files are specified in lowercase (Example: `lf`, `cr` or `crlf` for `end_of_line`). But some people use uppercase (like `LF` in [.editorconfig](https://github.com/editorconfig/editorconfig-visualstudio/blob/master/.editorconfig)). So we should convert all given values to lowercase to not care about if someone write the value in lowercase or uppercase.

[2014-10-06 10:05] bennycode opened #2 "Cannot open huge HTML5 project anymore"
I have a huge HTML5 project (with `.editorconfig` file, LESS files, JS files, CoffeeScript files, etc.). I closed this project and wanted to open it again. When doing that, I get the following exception in the NetBeans IDE log:

[code]

[2014-10-06 14:15] #2 closed, assigned to nobody

[2014-10-07 08:35] #1 closed, assigned to nobody

[2014-10-13 09:05] bennyn opened #3 "Change existing line endings"
**Ideas**
- http://gualtierotesta.wordpress.com/2014/02/02/netbeans-plugin-for-file-line-endings/
- https://github.com/junichi11/netbeans-change-lf
- http://plugins.netbeans.org/plugin/36810/show-and-change-line-endings

[2014-10-18 18:12] bennycode opened #4 "Warning: Found same position"
[code]

[2014-10-18 19:38] bennycode opened #5 "Change listener fires 8x"
If you change a file and wait, then the content change listener is triggered 4x and after a while again 4x:

[code]

[2014-10-18 22:43] bennyn opened #6 "EditorConfig is only loaded on "Project Open""
EditorConfig is read & parsed when project is opened. In order to evaluate updated properties in the `.editorconfig` file, you have to close the project and open it again.

[2014-10-18 23:11] bennycode opened #7 "NullPointerException: The project parameter cannot be null"
[code]

[2014-10-19 17:47] bennycode opened #8 ""insert_final_newline" inserts more than one line"

[2014-10-25 16:03] #8 closed, assigned to nobody

[2014-10-26 23:34] bennycode opened #10 "Cannot get exclusive access"
[code]

[2014-10-26 23:53] bennycode opened #11 "Find proper encoding detection library"
GuessEncoding always returns "US-ASCII".

[code]

CharsetDetector fails too.

[code]

[2014-10-27 09:40] bennycode opened #12 "Apply multiple rules at once"
When we read and write the actual file (to change the encoding for example), then we can also rewrite line endings and remove whitespaces (if needed). So we don't need separate steps for that.

[2014-11-08 12:33] bennycode opened #13 "Support "indent_style""

[2014-11-08 15:01] bennycode opened #14 "!!WARNING!! Missing READ-LOCK when accessing TokenHierarchy"
[code]

[2014-11-08 15:14] bennycode opened #15 "Modify files which are opened in the editor with Filesystems API"
Check: http://wiki.netbeans.org/DevFaqModifyOpenFile
More: http://bits.netbeans.org/dev/javadoc/org-openide-filesystems/org/openide/filesystems/doc-files/api.html

[2014-11-08 15:18] #5 closed, assigned to nobody

[2014-11-08 21:12] bennycode opened #16 "Execute changes in .editorconfig file"
If you change the properties in the `.editorconfig` file, then those changes are not applied to the files (covered by the config) but to the `.editorconfig` file itself which is wrong.

**Example**

[code]

[2014-11-08 21:14] bennycode opened #17 "Implement action for "root""
If a file has the "root" declaration, then no action should be applied. Set to true to stop .editorconfig files search on current file.

[2014-11-09 13:11] bennycode opened #18 "Implement action for "tab_width""

[2014-11-09 13:22] bennycode opened #19 "Set "indent_style" together with "tab_width""
If `indent_style` is set to `tab`, then we should also set the `tab_width` (if specified) immediately. Otherwise we should use `indent_size` to set the width of a tab.

[2014-11-09 14:17] #14 closed, assigned to nobody

[2014-11-09 14:21] #4 closed, assigned to nobody

[2014-11-09 16:01] bennyn opened #20 "Print warning in IDE Log if an EditorConfig key or value is unknown"
Try the following:

[code]

We should detect that `abc` is not a valid property and then print a warning in the IDE Log.

The following should also cause a warning:

[code]

[2014-11-09 23:03] #13 closed, assigned to bennycode

[2014-11-09 23:06] #18 closed, assigned to nobody

[2014-11-09 23:07] #10 closed, assigned to nobody

[2014-11-10 00:33] #15 closed, assigned to nobody

[2014-11-10 00:35] #7 closed, assigned to nobody

[2014-11-13 00:54] bennycode opened #21 "Check detection & handling of byte order marks"
[code]

https://community.oracle.com/message/5353957
http://www.rgagnon.com/javadetails/java-handle-utf8-file-with-bom.html
https://github.com/4ndrew/monqjfa/blob/master/monq/stuff/EncodingDetector.java

[2014-11-13 20:57] bennyn opened #22 "Test that binary files (e.g. images) will not be changed"

[2014-11-13 21:02] bennycode opened #23 "Test that dot files (.idea, etc.) will not be changed"

[2014-11-14 01:09] #12 closed, assigned to nobody

[2014-11-14 02:16] #11 closed, assigned to nobody

[2014-11-14 02:40] bennycode opened #24 "Test that files with "charset" declaration are saved with their file marks"

[2014-11-14 02:41] #21 closed, assigned to nobody

[2014-11-14 02:42] #17 closed, assigned to nobody

[2014-11-14 02:43] #16 closed, assigned to nobody

[2014-11-17 21:39] bennycode opened #25 "Cursor jumps at the end of a file after formatting"
Happens when formatting a file within NetBeans editor.

Seen with:

[code]

[2014-11-17 21:51] bennyn opened #26 "Handle indent_size "tab""
**Case from EditorConfig core:**

[code]

**Solution:**
Take default if `indent_size` is `tab`.

[2014-11-18 09:43] bennycode opened #27 "Smart Skip for directories"
We should skip parsing the directories `bower_components` and `node_modules` as they are only dependencies to a project. Parsing these two directories can increase the parsing time by a multiple which would cause a bad user experience. We should also skip `.git`, `.grunt`, `.idea` (_perhaps all dot files?_) and `nbproject` because these directories and files are dependent on their structure.

For

[2014-11-18 09:45] #23 closed, assigned to nobody

[2014-11-18 09:46] #19 closed, assigned to nobody

[2014-11-18 10:34] bennyn opened #28 "Create ".editorconfig" inside "public_html" folder for HTML5 projects"
Click on your HTML5 project root and select "File" - "New File" - "Other" - "EditorConfig File". If you do that, a new `.editorconfig` file will be created inside your project directory. Unfortunately you won't see it in your project tree because for HTML5 projects only files within "public_html" will be listed so we should create the file there.

[2014-11-18 15:57] bennyn opened #29 "Support for Comments"
It would be nice if you can comment and uncomment individual lines in `.editorconfig` by pressing the shortcut (Alt + Shift + F in Windows) for it. It should write than an `#` before the line (or remove it if it exists).

[2014-11-22 17:35] #27 closed, assigned to bennycode

[2014-11-27 11:36] #25 closed, assigned to nobody

[2014-12-07 20:38] bennycode opened #30 "javax.xml.parsers.FactoryConfigurationError"
When installing the plugin in Development IDE, then I get the following crash which causes NetBeans to fail when opening HTML5 projects. This bug crashes the whole IDE. Have to check if it is related to our plugin implementation or NetBeans 8.0.2:

[code]

[2014-12-07 21:36] #30 closed, assigned to nobody

[2014-12-30 22:28] bennycode opened #31 "Implement "insert_final_newline""

[2014-12-30 23:02] #31 closed, assigned to bennycode

[2014-12-30 23:35] bennyn opened #32 "Implement "trim_trailing_whitespace""

[2015-01-04 19:56] #32 closed

[2015-01-04 19:57] bennyn opened #33 "Implement "indent_size""

[2015-01-04 21:40] #33 closed

[2015-01-04 21:51] bennyn opened #34 ""trim_trailing_whitespace" - java.lang.StringIndexOutOfBoundsException"
**STR**

1. Set indent_size to 8
1. Go back to Editor
1. Go to the end of a line
1. Press "tab"
1. Now save

->

[code]

[2015-01-04 22:02] #34 closed

[2015-02-04 16:54] bennyn opened #35 "Don't change files in "nbproject""
Current state:

[code]

The processor should not operate on files in "nbproject". We have `SmartSkip.java` for these reasons but somehow it doesn't work for files inside that directory.

[2015-02-05 22:56] #35 closed

[2015-02-05 23:07] bennyn opened #36 "Change NetBeans project properties if EditorConfig is applied"
The EditorConfig should also influence the reformat if you press <kbd>Alt+Shift+F</kbd> in NetBeans.

[2015-02-06 02:44] bennyn commented on #26
Solved by https://github.com/welovecoding/editorconfig-netbeans/commit/9a742eaa8f5fb068bf5185cc985abeea24138b47

[2015-02-06 02:44] #26 closed

[2015-02-06 02:50] bennyn opened #37 "Changes on closed files are only applied on Editor view level"
1. Open a project
1. Change a file
1. Close that file
1. Change attribute `indent_size` in `.editorconfig`
1. Open the recently closed file

You will notice, that your `indent_size` changes have been applied to the Editor view (StyledDocument). But unfortunately those changes have not been saved to the file itself (Reformat & Save File have not been executed).

We have to check if there is a diffe

[2015-02-06 22:33] bennyn commented on #3
Solved with 0b347e869b914baf9bf23fc497cb225ff9250dc0

[2015-02-06 22:33] #3 closed

[2015-02-06 22:39] bennyn opened #38 "Activate EditorConfig plugin for all project types"

[2015-02-06 22:41] bennyn commented on #38
Done by 5f7958f279f12602b082effbdb1fad76ad576739

[2015-02-06 22:41] #38 closed

[2015-02-06 22:43] bennyn opened #39 "Syntax Highlighting for .editorconfig files"
It would be great if you get syntax highlighting if you open an `.editorconfig` file in the NetBeans editor. At the moment all the texts are just black. We can maybe make use of NetBeans highlighting when changing the mime type from `"text/plain+ec"` to something supported (like CFG files).

[2015-02-06 22:49] bennyn commented on #39
Nice read: [NetBeans Manifest File Syntax Highlighting Module Tutorial](https://platform.netbeans.org/tutorials/nbm-mfsyntax.html)

[2015-02-11 22:46] bennyn opened #40 "Need to override toString() to contain the file name"
**Log**

[2015-02-11 22:47] bennyn opened #41 "Error when saving new section (like [*.js]) in .editorconfig"
**Log**

SEVERE [org.openide.util.Exceptions]
java.lang.NullPointerException
	at com.welovecoding.netbeans.plugin.editorconfig.io.writer.StyledDocumentWriter.writeWithEditorKit(StyledDocumentWriter.java:139)
	at com.welovecoding.netbeans.plugin.editorconfig.processor.EditorConfigProcessor.lambda$null$0(EditorConfigProcessor.java:239)
	at com.welovecoding.netbeans.plugin.editorconfig.processor.Edit

[2015-02-11 22:52] #22 closed

[2015-02-12 10:53] bennyn opened #42 "Prepare certifed NetBeans Plugin Portal Release"
- http://mojo.codehaus.org/nbm-maven/nbm-maven-plugin/index.html

`nbm:nbm`

[2015-02-21 23:19] bennyn opened #43 "Immediately evaluate new .editorconfig files"
If you creade an `.editorconfig` file from NetBeans, then you need to close the project and reopen it to activate the parsing of the EditorConfig file. This should be done immediately as soon as the file is created.

[2015-02-21 23:46] bennyn opened #44 ""insert_final_newline" does not work on ".editorconfig" file"
Write this into your `.editorconfig`:

[code]

Try to save the file. You will see that no final new line will be added and that the file cannot be saved (NetBeans will always show a bold file name in the tab). The file can only be saved if you add a final new line manually, like:

[code]

[2015-02-21 23:48] bennyn commented on #44
I got an error in the IDE logging when trying to save the file. Add final new line was not successful and IDE log showed:

[code]

[2015-02-22 22:52] junichi11 opened #45 "EditorConfig Editor Support"
Hi,

I'm developing an editor plugin for EditorConfig [1].
If it's convenient for users to unify it into your plugin, I'll merge them.

What do you think?

Thanks.

[1] https://github.com/junichi11/netbeans-editorconfig-editor

[2015-02-23 15:16] bennyn commented on #45
Hi @junichi11,

I am glad to hear that you are building an EditorConfig editor. This is great news!

You have already influenced the development of our EditorConfig plugin (with your encoding and change line endings plugin). Therefore it would be a great honor for us if you will contribute code to our plugin.

Just send us a Pull Request.
We can also make you a direct contributor of this project i

[2015-02-23 16:42] Yserz commented on #6
With the current setup that's not possible since
1. ProjectOpenedHook is triggered by opening a project
2. ProjectOpenedHook adds the ProjectChangeListener to the project

Since the ProjectChangeListener is not added to the already opened project any changes to the ProjectChangeListener won't work. Thus we need another mechanism to hook into projects. That's a bunch of work for a corner case since

[2015-02-24 01:08] junichi11 commented on #45
Hi Benny,

I'll do it ;)
But there are a few conflicts as the followings:

1. mime-type (text/x-editorconfig)
2. icon
![icon16](https://cloud.githubusercontent.com/assets/738383/6341224/9debeaf6-bc0b-11e4-9269-892e594e98e2.png)

If you want to use your's, I'll change my plugin's code. So please let me know that :)

My plugin provides support the followings:

- Syntax highlighting
- Toggle line com

[2015-02-24 05:04] junichi11 opened #46 "nbm files"
nbm file exists in the dist directory of this repository now.
IMHO, nbm files should be attached to releases[1] for each versions.

[1] https://github.com/welovecoding/editorconfig-netbeans/releases

Thanks.

[2015-02-24 06:53] bennyn commented on #45
Hi Juinchi,

when we started the EditorConfig plugin we were unsure what MIME type we should use. We went for `text/plain+editorconfig` (https://github.com/welovecoding/editorconfig-netbeans/commit/3fb7b37f31321d071b37220f8302083abf14dc3d). Then we asked the community (https://github.com/editorconfig/editorconfig/issues/185) and they suggested to use something related to INI. INI files are recogni

[2015-02-24 07:24] bennyn commented on #46
Very good idea. Will be done immediately.

You can find the `.npm` files now attached to the releses. There is also `v0.0.3-beta` now which includes the MIME type change to `text/x-editorconfig`. :smiley:

Check here:
https://github.com/welovecoding/editorconfig-netbeans/releases/tag/v0.0.3-beta

[2015-02-24 07:24] #46 closed

[2015-02-24 10:51] junichi11 commented on #46
:+1:

[2015-02-24 11:04] junichi11 commented on #45
No problem. Just asked. I follow your plugin :)

BTW, I have a question and a request.

- What's the license of this plugin?
- Could you add me to this plugin as a contributor if possible? (I create a new branch, then I'll sent a self PR) If you would like to avoid that, no problem :) I'll sent it from forked repository.

Thanks.

[2015-02-24 12:02] bennyn commented on #45
**Regarding the license:** We have not defined a license yet. People can use our code as they like. I think for developers the most flexible license is MIT. I have seen that you use MIT license for [netbeans-editorconfig-editor](https://github.com/junichi11/netbeans-editorconfig-editor). So we can do the same if you want.

**Regarding the contribution:** We can add you as a direct contributor, no

[2015-02-24 23:15] junichi11 commented on #45
Thanks for your answer!

I see. License will be needed if we publish this plugin on NetBeans Plugin Portal. My code have a license header. If you use a license other than MIT, I'll remove it once when I merge plugin. Basically, I would like to follow your plugin's rule :smiley:

It's OK to become a member of your organization :+1:

[2015-02-25 00:12] bennyn commented on #45
Hi @junichi11,

I checked http://choosealicense.com/ and according to their information the MIT license is best for us. But inside our plugin we are using [editorconfig-core-java](https://github.com/editorconfig/editorconfig-core-java) which uses the the Apache license. So we should double check if we can distribute our combined work with MIT license when including a project with Apache license. A

[2015-02-25 00:31] junichi11 commented on #45
Hi Benny,

:+1:

Thanks a lot for adding me!

I've done it a little ago ;)

[2015-02-25 09:33] bennyn commented on #45
Hello and welcome to our organization! :octocat:

Today, I have read a bit about BSD, Apache v2 license and MIT license. The answers on the Internet are very vague. However, I've found a few interesting things. The MIT license for example allows for distribution without contribution credits; BSD doesn't [[source]](https://programmers.stackexchange.com/questions/121998/mit-vs-bsd-vs-dual-license/12

[2015-02-26 01:10] junichi11 commented on #45
I think that it's good.

[2015-02-27 13:44] bennyn opened #48 "Editor shows error when all properties are commented"
I created an `.editorconfig` file with the following properties:

[code]

As you can see all properties are commented so nothing should happen. But the EditorConfig editor shows this error in the IDE editor:

[2015-02-27 13:50] bennyn commented on #41
Steps to reproduce:
- Create a new .editorconfig file

Add this content:
[code]

- Close the project
- Open the project
- Change and save a XML file
- Bug will occur

Error:

[code]

[2015-02-27 13:52] bennyn commented on #41
During my bug I tried to change `FontAndColors.xml`. NetBeans created a file called `.LCKFontAndColors.xml~` when the bug occured.

[2015-02-27 14:08] bennyn opened #49 "Unifiy resource packages"
The `layer.xml` uses this base package `com.welovecoding.nbeditorconfig.Bundle`. But our main base package is `com.welovecoding.netbeans.plugin`. The `EditorConfigDataObject.java`has the `netbeans.plugin` base package which makes it difficault to use the same resources as `layer.xml` as their both use relative path and have different base packages.

[2015-02-27 14:38] #49 closed

[2015-02-27 14:42] bennyn commented on #49
@Yserz @junichi11 — I changed our main package from `com.welovecoding.netbeans.plugin.editorconfig` to `com.welovecoding.nbeditorconfig` because we had both and it's better to have just one single place for resources (and code).

[2015-02-27 22:06] junichi11 commented on #48
I'll fix it. (I thought that user may forget to add properties.)
Thanks.

[2015-02-27 22:30] bennyn commented on #48
Cool! :smiley:  You can show a warning if you want and if possible but showing an error is a bit to harsh.

[2015-02-27 22:36] bennyn commented on #45
I will close this issue as we have the editor now in our project (https://github.com/welovecoding/editorconfig-netbeans/pull/47). :tada: I will create another issue for finding a proper license.

[2015-02-27 22:36] #45 closed

[2015-02-27 22:40] bennyn opened #50 "Choosing a license for our code"
Before releasing our plugin to the [NetBeans Plugin Portal](http://plugins.netbeans.org/), we need to define a license for our code.

I think that our main goals with a license should be:

- Make to code freely available to other developers
- Make sure that the NetBeans IDE team can integrate our code in their code base / product
- Make sure that we can get some credits (if possible)

I will read

[2015-03-04 14:13] ZaLiTHkA opened #52 "Notes on required JDK version"
This is awesome, it's a dream come true for me (ST3 fanboy working with Java developers). But being very much a Java noob myself, it did take me a little while to figure out why it wasn't working..

I didn't build from source, so I didn't notice the source and target rules in the Maven `pom.xml` were set to "1.8". I was running NetBeans 8.0.2 with JDK 1.7 and seeing `java.lang.UnsupportedClassVers

[2015-03-07 15:29] #52 closed

[2015-03-07 15:58] bennyn commented on #52
Hi @ZaLiTHkA, thank you for your feedback! We just updated our README file so that it displays the requirement for Java 8. Thanks for the hint.

By the way, you don't need to compile the plugin yourself. You can find all NetBeans modules (`*.nbm`) attached to our [releases](https://github.com/welovecoding/editorconfig-netbeans/releases). We just build v0.0.4. :smiley:

[2015-03-08 01:31] ZaLiTHkA commented on #52
No worries, hope that saves someone else a headache..

I did install the `nbm` directly, which is why I didn't see the Java error at first.. Only figured that out when I went to check the project properties. :)

[2015-03-12 21:15] Yserz commented on #39
I think we can close this issue, am I right? ;P

[2015-03-12 21:48] #39 closed

[2015-03-12 21:49] #48 closed

[2015-03-17 17:11] craiglondon opened #54 "SEVERE: java.lang.UnsupportedClassVersionError: com/welovecoding/nbeditorconfig/editor/csl/EditorConfigLanguage : Unsupported major.minor version 52.0"
Not sure how else to contribute to this issue, this was in my log.  Not sure if this plugin is working with this error or not.

Did an install from NBM, restart, git add, git commit, checked log.

Environment
WIndows 8.1
Netbeans 8.0.2

[code]

[2015-03-17 17:24] Yserz commented on #54
Hey,

which version of Java is your NetBeans using?

[2015-03-17 19:18] craiglondon commented on #54
[code]

[2015-03-17 20:13] Yserz commented on #54
Thanks for your response.
The problem is that your NetBeans is running with Java 7. Currently only Java 8 is supported by the plugin.

[2015-03-17 21:00] craiglondon commented on #54
That would do it.  Did I miss the Java 8 requirement in the documentation?

[2015-03-17 21:00] #54 closed

[2015-03-17 21:01] craiglondon commented on #54
Uhh.. yeah sorry.  Thanks for your patience.

```Requires Java 8```

[2015-03-17 21:09] Yserz commented on #54
No problem. Feel free to open further issues if you find any errors. We are always happy to receive messages from users :)

[2015-03-17 22:14] craiglondon commented on #54
Should I open a new ticket for this question?   I updated to Java 8, checked that Netbeans is using 8.  How do I tell if the plugin is running?

[2015-03-17 23:03] Yserz commented on #54
1. A .editorconfig file is needed. You can add the file with the normal NetBeans "add file" function. Put the file in a folder you want to influence.
2. Add rules to the editorconfig. E.g.:
[code]
to set the indent size to 4 spaces for all java files in that particular folder.
As soon as you save the editorconfig OR a file influenced by an editorconfig the plugin will be triggered and set the inde

[2015-03-18 17:11] craiglondon commented on #54
Thanks for your help.

Here is the .editorconfig file I have created, I primilary deal with CSS, JS, and PHP.  I use NetBeans and SublimeText2.  Sometimes I work on Windows servers, but mostly on Linux servers, so I wanted to get the line endings to be client/project specific.

[code]

[2015-03-18 21:50] craiglondon opened #55 "Windows 8.1, Netbeans 8.0.2, messages log"
I'm not sure if these errors would cause issues with the plugin.

[code]

[2015-03-21 13:27] Yserz commented on #55
Thanks for your report.
That message is related to the position of an ui-element within a menu. It seems that definition is missing for some components related to the MIMEResolver. I have to further investigate to that issue but it seems it will not break any functionality. Please let me know if you observe any further issues with that one.

[2015-03-21 16:13] Yserz commented on #54
I tried your example (with some little modifications) and found an error with the trailing whitespace feature. I already submitted a pull request for that here: https://github.com/welovecoding/editorconfig-netbeans/pull/56 . Was that the error you encountered?

[2015-03-21 18:59] bennyn opened #57 "EditorConfig editor and navigator not working"
When I open an `.editorconfig` file, then I don't get an overview of all rules in the **Navigator**. The syntax highlighting is also missing. I am running NetBeans 8.0.2 with Java 8 on Windows 8.1 (so many Eights :grinning:). Any ideas @junichi11?

Here is my stacktrace:

[code]

[2015-03-21 19:01] bennyn commented on #57
I don't know why it looks for `com.welovecoding.netbeans.plugin.editorconfig.editor.api.lexer.ECTokenId`. It should look for `com.welovecoding.nbeditorconfig.editor.api.lexer.ECTokenId`.

[2015-03-21 19:12] bennyn commented on #57
Ok, I found the issue. There was an old reference in `layer.xml`. :smile:

[2015-03-21 19:13] #57 closed

[2015-03-21 20:02] junichi11 commented on #57
@bennyn :+1: Thanks for fixing!

[2015-03-23 19:36] Yserz commented on #44
I cannot reproduce this. It's working as expected for me.

[2015-03-23 19:38] Yserz commented on #41
Did your last commit fixed that issue?

[2015-03-23 22:18] Yserz opened #59 "Editorconfig files with names are not working"
Actually editorconfigs with some_name.editorconfig are not working. I already writing a fix.

[2015-03-24 13:06] #59 closed

[2015-03-24 15:07] Yserz commented on #43
fixed with "Immediately evaluate new .editorconfig files #61"

[2015-03-24 15:07] #43 closed

[2015-03-24 15:37] #29 closed

[2015-03-25 17:03] Yserz opened #62 "Discussion: Requirement Java 8?"
Should we go down with our requirements from Java 8 to Java 7?

Pro:
- NetBeans 8 runs with Java 7 and 8. If we go down to Java 7 the only requirement will be NetBeans 8
- No confusion for users

Contra:
- No Lambdas
- Some work to do

What do you think?

[2015-03-25 17:34] ZaLiTHkA commented on #62
I would say yes.. Java 7 is still a very big player, I highly doubt that 8 will overtake it for a long time. I run it in testing environments, but our servers still use 6 and 7 for our production stuff.

Keeping in mind I say this coming from a software tester, non-developer type of mindset.. :)

[2015-03-25 19:28] bennyn commented on #62
I do not like to develop things for outdated versions. Java 7 was first released in July 2011. This is soon **four years ago**. If it is not a big hassle to support it, then we should do it. But I do not think it is a priority. Especially among developers, it should go without saying, that your Java version should be up to date.

[2015-03-26 01:42] junichi11 commented on #62
**Java SE 7 End of Public Updates Notice:**
April 2015
https://www.java.com/en/download/faq/java_7.xml
http://www.oracle.com/technetwork/java/eol-135779.html

We should use Java 8 as far as possible since end of public updates comes soon. However, Java 7 may be required at the moment if we would like to publish a plugin and pass verifications on NetBeans Plugin Portal. (IMHO, It's no problem becau

[2015-03-26 02:04] Yserz commented on #62
Good point! What are your thoughts about a middle way? For example we could deactivate the plugin if we detect Java 7 and show a tooltip/warning saying that the end of public updates is near and the plugin won't work with Java 7?

[2015-03-26 04:00] junichi11 commented on #62
@Yserz Please try to add a `ModuleInstall` class [1] (Sorry if I'm wrong).

We can add it like the following: New File > Category: Module Development > Installer / Activator

[1] http://bits.netbeans.org/8.0/javadoc/org-openide-modules/org/openide/modules/ModuleInstall.html

[2015-03-28 23:32] bennyn opened #65 "Implement "max_line_length""
- https://github.com/editorconfig/editorconfig/wiki/Property-research:-maximum-line-length

[2015-03-28 23:53] bennyn opened #66 "Parser integration for EditorConfig"
We should implement a parser for the EditorConfig "language" to get auto-completion by the NetBeans IDE. At the moment we use "Code Templates" to get pseudo auto-completion in the EditorConfig Editor.

For further investigation we have to read chapter 4) on:
- http://wiki.netbeans.org/How_to_create_support_for_a_new_language

[2015-03-29 00:33] #55 closed

[2015-03-29 00:35] bennyn commented on #44
Plugin works when I run it in the NetBeans Test IDE but in my development IDE it conflicted with another plugin. So that was the issue.

[2015-03-29 00:35] #44 closed

[2015-03-29 00:37] #41 closed

[2015-03-29 00:37] bennyn commented on #41
Fixed with https://github.com/welovecoding/editorconfig-netbeans/issues/57.

[2015-03-29 00:44] bennyn commented on #37
Fixed.

[2015-03-29 00:44] #37 closed

[2015-03-29 00:54] bennyn opened #68 "Infinite (cyclic) save loop"
Steps to reproduce:

1. Use an `.editorconfig` file with `indent_size = 4`
1. Infinite save loop will happen
1. Open an existing html file (`index.html`) so check that the indent size is applied
1. Create a **new** html file (`newhtml.html`) (which should also have an `indent_size` of 4)
1. Make sure that `index.html` and `newhtml.html` are opened in the Editor
1. Change `indent_size` to 2
1. Infi

[2015-03-29 00:56] #40 closed

[2015-03-29 00:59] bennyn commented on #28
Won't be fixed. The `.editorconfig` files can be seen when setting the following regex in `Options - Miscellaneous  - Files - Files Ignored by IDE - Ignored Files Pattern`:

[code]

[2015-03-29 00:59] #28 closed

[2015-03-29 01:00] #20 closed

[2015-03-29 19:46] #68 closed

[2015-04-09 17:56] craiglondon opened #70 "How to keep updated...."
How would you suggest I keep my plugin updated with the latest version?  Is there an RSS I can subscribe to or email list?

[2015-04-09 19:37] Yserz commented on #70
In general you can check the releases page here on GitHub.
![ghrelease](https://cloud.githubusercontent.com/assets/1138344/7075126/e8ef83a2-deff-11e4-94f3-6b242a75078d.png)

For tracking releases on GitHub i'll refer to this page: [Releasetracking](http://stackoverflow.com/questions/20839622/notifications-for-new-github-project-releases)

Once we published the plugin on the plugin center you'll ge

[2015-04-09 22:04] bennyn commented on #70
Reminds me of publishing **v0.0.6-beta**. ;)

[2015-04-10 04:02] craiglondon commented on #70
Thanks for the tips.  I'll check them out.   I just updated from 0.0.4 to 0.0.5, and I'll update to 0.0.6 very soon!

[2015-04-10 04:03] #70 closed

[2015-04-10 11:51] MathiasBauer opened #71 "Project Directory differs from Site Root"
Currently, the plugin seems not to work if "Project Directory" differs from "Site Root".

example:
Project Directory: "F:\workspace\netbeans-projects\name-of-project\nbproject\"
Site Root: "F:\workspace\projects\project-sources\"

when:
Project Directory: "F:\workspace\projects\project-sources\nbproject\"
Site Root: "F:\workspace\projects\project-sources\"
everything works fine...

[2015-04-10 12:08] bennyn commented on #71
Hey @MathiasBauer, thanks for reporting that!

Did you use [v0.0.6-beta](https://github.com/welovecoding/editorconfig-netbeans/releases/tag/v0.0.6-beta) which was just released 2 hours ago?

[2015-04-14 14:39] MathiasBauer commented on #71
Yes, i tried v0.0.5-beta and v0.0.6-beta.

[2015-05-09 14:41] craiglondon commented on #62
I wish the memory leak with Java 8 would be fixed.   It's rediculous to start up Netbeans and it locks up over 500 MB of RAM

[2015-05-21 13:30] talamaska opened #72 "It doesn't work in Netbean 8.0.2"
org.netbeans.InvalidException: StandardModule:com.welovecoding.netbeans.plugin.editorconfig jarFile: C:\Users\****\AppData\Roaming\NetBeans\8.0\modules\com-welovecoding-netbeans-plugin-editorconfig.jar: java.lang.UnsupportedClassVersionError: com/welovecoding/nbeditorconfig/listener/Installer : Unsupported major.minor version 52.0

java version "1.8.0_31"
Java(TM) SE Runtime Environment (build 1.8

[2015-05-21 22:02] ZaLiTHkA commented on #72
Is your Netbeans using Java 7 by any chance..? As stated in the readme, this plugin requires 8 in order to run.

[2015-05-21 22:43] ZaLiTHkA opened #73 "Naming issue with creating new control file"
In a nutshell: Trying to create a new `.editorconfig` file from within NetBeans (Windows platform, NB 8.0.2 x86) doesn't allow the file to be saved without a filename.. Which means it can't be created using the built-in new file dialog in such a way as to be read by the plugin.

I'm not sure if I could build it myself, since I'm very much a script junkie playing in the Java sandpit here, so if I c

[2015-05-22 10:24] talamaska commented on #72
hm, you were right, I checked in the netbeans.conf and I saw jre7 was set. Thanks for the direction.

[2015-05-22 10:48] bennyn commented on #72
Hey guys, thanks for your reports. It makes me very happy to see that our plugin is of interest.

@talamaska: Does it work now for you with Java 8?
@ZaLiTHkA: Thank you for your support! Really great!

[2015-05-22 11:55] talamaska commented on #72
Well
it didn't recognize the normal .editorconfig already created file, it doesn't show it in the file structure.
when I create it manually from the UI it creates a .editorconfig.editorconfig file and my Netbeans turns black and I think crashed. Restarted netbeans, very slow scan. I still don't see any of the editorconfig files and I'm not sure how to verify if it is working.

[2015-05-22 12:23] ZaLiTHkA commented on #72
@bennyn, only a pleasure. I tend to chime in and help when I'm around and where I can. :)

@talamaska, shortly after my comment above, I created #73 with a similar file naming situation as what you're describing. I don't remember having any problem with NB not reading config files though.. I'll post back here if I find anything useful.

[2015-05-22 13:14] johnny-bit commented on #73
Can confirm same behaviour on Linux with
**Product Version:** NetBeans IDE 8.0.2 (Build 20150207-unknown-revn)
**Updates:** NetBeans IDE is updated to version NetBeans 8.0.2 Patch 1
**Java:** 1.8.0_45; Java HotSpot(TM) 64-Bit Server VM 25.45-b02
**Runtime:** Java(TM) SE Runtime Environment 1.8.0_45-b14

[2015-05-22 13:19] johnny-bit opened #74 "Editorconfig is completelly skipped for php projects"
Hi,

I'm using 0.0.6-beta and I've noticed that in logs listeners are correctly applied for web projects (HTML5 icon), but are completely ignored for php projects. I've also noticed that .editorconfig files are not listed for HTML5 projects not are for PHP projects.

[2015-05-22 13:20] talamaska commented on #72
ok, netbeans is hiding a lot of (dot) files by default, I have figured that out there is a regex pattern in its settings.

[2015-05-22 16:27] bennyn commented on #72
Yepp. NetBeans hides the `.editorconfig` files by default but you can change it's regex pattern to:

[code]

**Screenshot**

![](http://picload.org/image/iorlrci/screenshot-1.png)

[2015-05-22 16:51] bennyn commented on #74
Hi Johnny,

thanks for reporting this issue. In your NetBeans PHP project there must be a folder called `nbproject` which has a `project.xml` file.

Can you please post the contents of your `project.xml` file? The `<type>` property is interesting for us. It must be something like: `<type>org.netbeans.modules.web.clientproject</type>`. I think for your project it shows `org.netbeans.modules.php.pro

[2015-05-22 17:46] johnny-bit commented on #74
Hi Benny!

Exactly! Have a look:

[code]

[2015-05-22 19:10] johnny-bit commented on #74
I wonder is it possible to say instead of "suport following set of project types" to "support all project types" when dealing with netbeans? Otherwise You'd need to figure out all project types and explicitly reference them.

[2015-05-22 19:26] bennyn commented on #74
Applying the plugin for all project types would be nice but the [NetBeans Project Type Extension Module Tutorial](https://platform.netbeans.org/tutorials/nbm-projectextension.html#intro) says that you need to specify the types.

I just built you [v0.0.7-beta](https://github.com/welovecoding/editorconfig-netbeans/releases/tag/v0.0.7-beta), which should work for PHP projects.
Can you tell me if this

[2015-05-23 13:45] Yserz commented on #73
Hey, thanks for your comment.
The behaviour is already known and is related to the default NetBeans "create file" wizard. In there it's not possible to define a file without a name (in general for NetBeans). For this we accept editorconfig files  with names as well. This is also allowed by the spec. So if editorconfig files with names are not accepted by the plugin this is a bug.

[2015-05-24 13:58] ZaLiTHkA commented on #73
I can find no issues with reading the files, both with a normal filename and a "hidden file" name. I was simply trying to point out a quirk about the NetBeans file creation wizard that didn't meet the plugin's needs.

Don't you think a project context menu would be this plugin's best friend..? :) I certainly do..

[2015-05-24 23:19] junichi11 commented on #73
@bennyn @Yserz Probably, we can use `.editorconfig` as a new file name if the template file name is changed from `EditorConfigExample.editorconfig` to `.editorconfig`. It will be `new.editorconfig` by default. But we can just remove new in the new file wizard like the empty file.

Thanks.

[2015-05-26 11:37] FinBoWa commented on #74
Just tested this and it works but should it actually format files automatically without the users explicitly saving the file first?

Eg. I opened a legacy project and during the project load it formatted all files.

[2015-05-26 11:38] johnny-bit commented on #74
Hi! Yes, looks like 0.0.7 works very nice :)

[2015-05-26 11:41] ZaLiTHkA commented on #74
@FinBoWa, perhaps just my opinion, but I think that behaviour might be somewhat dangerous.. How would you ensure it didn't try reformat any minified libraries in your project folder?

Using the *current styling rules* when creating and/or saving a file seems like the all-round safest idea.

[2015-05-26 11:45] FinBoWa commented on #74
Im not keen on this automatically formatting a project without me actually saving a file.

I opened a Magento project and it went and formatted all files automatically. Of course I could specify that skip them but personally Id expect it only to format if i ask it to or save the file. Not automatically on files that I haven't touched.

[2015-05-26 11:49] ZaLiTHkA commented on #74
My apologies; I completely misread your message.. (:

[2015-05-26 11:55] bennyn commented on #74
Might be a good idea to fomat only when the user clicks on save. We could also add an option for users who really want to format their whole project. What do you think @Yserz &  @junichi11?

[2015-05-26 11:58] FinBoWa commented on #74
@bennyn running this when user calls format on a specific project folder would handle that "whole project" also. Should also fire when user calls format on the opened file of course.

[2015-05-26 11:58] FinBoWa commented on #74
and not missing of course formatting on save :)

[2015-05-26 12:02] FinBoWa commented on #74
Personally I think formatting could (or should) be an action from a user, not something automatic per ce.

But I assume that on Sublimitext it runs on save always or is that correct so if its somewhat expected to this run on save then it would be in line how others have implemented it.

[2015-05-29 19:03] odan commented on #72
I get the same error message like talamaska.

My Netbeans setup:
Product Version: NetBeans IDE 8.0.2 (Build 201411181905)
Updates: NetBeans IDE is updated to version NetBeans 8.0.2 Patch 1
Java: 1.7.0; Java HotSpot(TM) 64-Bit Server VM 21.0-b17
Runtime: Java(TM) SE Runtime Environment 1.7.0-b147
System: Windows 7 version 6.1 running on amd64; Cp1252; de_DE (nb)
User directory: C:\Users\User\AppDat

[2015-05-29 19:18] bennyn commented on #72
Hi @odan,

Thank you for your bug report! Telling from your log I can see that you are running Java 7 but the EditorConfig plugin needs Java 8. So if you use Java 8, everything should be fine.

Please report back if upgrading to Java 8 solves your problem.

Best,

Benny

[2015-05-31 19:59] odan commented on #72
Hi @bennyn, Java 8 has solved the problem. Thanks!

[2015-05-31 20:04] odan opened #75 "UTF-8 encoding issue in PHP files"
Hi, in my php unittest a have a string like:
<pre>'öäü#+!"§$%&/()=?´\\~<>|ÿ'</pre>

If I enable the editorconfig-netbeans plugin this string is converted to
<pre>'ÃƒÂ¶ÃƒÂ¤ÃƒÂ¼#+!"Ã‚Â§$%&/()=?Ã‚Â´\\~<>|ÃƒÂ¿'</pre>

Here is my current .editorconfig
<pre>
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space
indent_size = 4

[2015-06-03 10:41] t3dev opened #76 "git corruption after install"
Hi,

after adding the editorconfig-netbeans plugin into my netbeans I created a HTML5-project with existing source. The sources had an .editorconfig and a .git directory already.

Afterwards I noticed a problem with git on the shell:

    error: bad index file sha1 signature

While trying to track down the problem I noticed an error in my netbeans:

    java.nio.file.AccessDeniedException:
    .gi

[2015-06-03 10:42] t3dev commented on #76
btw. rm .git/index does "fix" the problem.

[2015-06-03 11:46] bennyn commented on #76
Hi @t3dev,

Thanks for reporting this issue and the quick-fix for it. The EditorConfig plugin should ignore parsing the `.git` directory ([we are skipping it](https://github.com/welovecoding/editorconfig-netbeans/issues/76#issuecomment-108294689)). But it looks like that it isn't skipped in your case.

I will add some additional logging which could help us to track down the problem on your machine

[2015-06-06 13:58] johnny-bit opened #77 "Editorconfig scans & changes everything on open project"
Hello,

I have hard time dealing with editorconfig and projects with huge dependencies. For example I have following editorconfig (instead of * I use include):
[code]
yet every project opening is cpu & I/O intensive with log filling with messages from plugin for dirs like bower_components, dist, node_modules (all of those are in gitignore too!)

Is there a way for plugin to ignore some dirs for ed

[2015-06-09 10:11] jyrkij commented on #77
I'd rather have editorconfig apply changes only on save. Or even only on format. There's more conversation in #74.

[2015-06-09 10:12] jyrkij commented on #77
/cc @FinBoWa

[2015-06-12 16:20] t3dev commented on #76
Hi Benny,
I would really like to assist you to get this out of the way. Until now I used your binary releases. Is there any pointer/hint on using this repo to build the plugin myself? I think I could maybe experiment with some debugs myself to tackle the problem.
I checked out the source but get lost on the way to turn this into a useful project in my netbeans installation that I could work with.

[2015-06-14 18:30] t3dev commented on #76
added what I found in the README and created a pull request ;)

[2015-06-18 11:23] shellcatt opened #79 "java.lang.UnsupportedClassVersionError: Unsupported major.minor version 52.0"
I'm JDK 1.7 as home VM & can't activate your plugin in NetBeans 8.0.2 on Kubuntu 12.04 after installing it :(

org.netbeans.InvalidException: StandardModule:com.welovecoding.netbeans.plugin.editorconfig jarFile: ~/.netbeans/8.0/modules/com-welovecoding-netbeans-plugin-editorconfig.jar: java.lang.UnsupportedClassVersionError: com/welovecoding/nbeditorconfig/listener/Installer : Unsupported major.mi

[2015-06-18 11:38] bennyn commented on #79
Hi @shellcatt, you need to run Java 8 in order to use our plugin.

With the command `java -version` you can find out on your command prompt / terminal which version you are using. You need `java version "1.8.0"` or later.

[2015-06-18 13:24] shellcatt commented on #79
Oh, thx a lot @bennyn :) It seems to work fine now.
Is there a reason why I can't see the .editorconfig file in the Projects window?

[2015-06-18 13:30] bennyn commented on #79
NetBeans hides the .editorconfig files by default but you can change it's regex pattern to:

[code]

See: https://github.com/welovecoding/editorconfig-netbeans/issues/72

**Screenshot**

![](http://picload.org/image/iorlrci/screenshot-1.png)

[2015-06-18 13:34] ZaLiTHkA commented on #79
@shellcatt, to cover a different side of the same coin: The "Projects" view in NetBeans only shows the contents of special project folders, so you won't see your `.editorconfig` file there if it's in the root of your project (next to your `build.xml` for example)

Try moving the config file to your project's defined "Source Packages Folders" for Java files, and/or your "Web Pages Folder" for web a

[2015-06-18 13:46] bennyn commented on #79
Thanks for clarification, @ZaLiTHkA.

As this question has been asked already I will add it's answer to our [FAQ page](https://github.com/welovecoding/editorconfig-netbeans/wiki/FAQ).

@shellcatt - Please open a new ticket if you have other questions as this issue here seems to be resolved now.

[2015-06-18 13:46] #79 closed

[2015-06-18 13:46] shellcatt commented on #79
Yep, thanks a lot guys :)

[2015-06-18 13:50] bennyn commented on #74
Because of your requests we will change the formatting behaviour of our EditorConfig plugin. In the future it will only touch files if you save them. As this issue here is about making it work for PHP projects (which is solved now!) I will close this issue. Thank you so much for your valuable feedback!

[2015-06-18 13:50] #74 closed

[2015-06-18 13:54] bennyn commented on #76
Hey @t3dev, thank you for your pull request! :+1:

But as the documentation for the EditorConfig plugin gets bigger and bigger we chose to add this information to our [Wiki](https://github.com/welovecoding/editorconfig-netbeans/wiki).

[2015-06-18 13:55] bennyn commented on #75
Hi @odan,

Thank you for your report! What's the original character set of your file? Looks like the EditorConfig converted it from something else than UTF-8 to UTF-8.

[2015-06-18 13:56] t3dev commented on #76
Hi Bennyn, sry for polluting this issue with unrelated stuff. The issue itself is still valid and a real blocker for the usage of the plugin. .git/index get's corrupted. :(

[2015-06-18 13:57] bennyn commented on #72
Solutions to this problem have been added to our [FAQ page](https://github.com/welovecoding/editorconfig-netbeans/wiki/FAQ). Thanks for reporting!

[2015-06-18 13:57] #72 closed

[2015-06-18 13:59] t3dev commented on #77
+1 @jyrkij applying changes without even opening the file is a nogo. please just reformat on an explicit call to format or at least give a chance to disable auto reformatting.

[2015-06-18 14:00] bennyn commented on #71
Ok, we will do some investigation. Thanks for reporting!

[2015-06-18 14:02] bennyn commented on #76
Uh, sorry. Then I was to eager closing this issue. Because you wrote:

So the problem is that the EditorConfig plugin is editing your `.git/index` file?

[2015-06-18 14:03] t3dev commented on #76
exactly! Which I consider to be a very serious issue...

[2015-06-18 14:05] bennyn opened #80 "Apply EditorConfig formatting only when saving a file"
As per user request (welovecoding/editorconfig-netbeans#74, welovecoding/editorconfig-netbeans#77), we will only reformat files / apply EditorConfig rules when a file is explicitly changed from the NetBeans editor window.

[2015-06-18 14:06] bennyn commented on #77
I created an issue for that: https://github.com/welovecoding/editorconfig-netbeans/issues/80

Please follow that issue (comment it with `+1`), when you want to watch the status of this feature.

[2015-06-18 14:06] #77 closed

[2015-06-18 14:10] johnny-bit commented on #80
+1 :+1: So - format on save + format on click "format source" in conext menu? i'd rather only have format on click ;)

[2015-06-18 14:10] bennyn commented on #62
Some users still don't notice that the plugin needs Java 8 (although it is written in our readme file, in our wiki and in the tooltip that we show on plugin installation), we should support Java 7.

We need to support Java 7 anyway in order to get certified for the official NetBeans Plugin Repository (thanks for the hint, @junichi11).

So I will rename this issue here and turn it into a real dev s

[2015-06-18 14:12] bennyn opened #81 "Support Java 7"
As per https://github.com/welovecoding/editorconfig-netbeans/issues/62 we should make the plugin work with Java 7.

[2015-06-18 14:13] #62 closed

[2015-06-18 14:13] bennyn commented on #76
Ok, labeled it with "high priority" ;)

[2015-06-18 15:34] t3dev commented on #80
+1 for format via menu "source/format" or click on context "format"
-1 for format on save

[2015-06-18 18:33] odan commented on #75
My default character is (always) UTF-8.

[2015-06-21 19:32] FinBoWa commented on #80
:+1:  on formatting when requesting a format anywhere (don't forget that you can call format for a directory structure also :)
:+1:  on formatting on save IF its something that can be disabled/enabled per project or globally

I'm not sure whats the take on other plugins that how they work relating formatting on save.

Case example where automatic on save formatting is bad:
you amend a old file add

[2015-06-21 19:34] FinBoWa commented on #80
then we get to the question: if the "format on save" is a toggle-able thing should it be on by default or off.

[2015-06-21 19:47] bennyn commented on #80
Format on save should be always on because the EditorConfig will only format files which match the patterns that have been declared in the `.editorconfig` file. If you don't want to apply EditorConfig rules to legacy files then you should adjust the globs used in your `.editorconfig` file our you could add another `.editorconfig` file for this particular folder which overwrites the default EditorC

[2015-07-06 15:18] danbettles opened #82 "Installation instructions"
Hello

Could you let me know how to install the plugin, please?  I'm a web developer and I use the HTML5 + PHP-flavoured version of NetBeans.  I've read the installation instructions in your wiki but they don't mean much to me - I've never installed a downloaded plugin before and I've never developed one either - and NetBeans' plugin installer doesn't recognise any of the files in the project.

Ma

[2015-07-06 20:55] ZaLiTHkA commented on #82
Those installation instructions seem to be aimed more at building and running the plugin from source, while it sounds like you're simply trying to install a release version.

In this case:

1. Download the `.nbm` file for the latest version from the [Releases page](https://github.com/welovecoding/editorconfig-netbeans/releases)
2. Open NetBeans, select Tools > Plugins
3. Switch to "Downloaded" tab

[2015-07-06 21:09] bennyn commented on #82
@ZaLiTHkA - I could not have put it better. Thank you very much!
@danbettles - Just let me know if there are still uncertainties.

[2015-07-07 17:11] danbettles commented on #82
Thank you very much, @ZaLiTHkA; that did help.

Both: would you like me to add those instructions to the Wiki because they should be beneficial to others.

Thanks again.

[2015-07-08 07:30] ZaLiTHkA commented on #82
Only a pleasure. I'm all for the idea of sharing knowledge and I've been doing software testing and writing user manuals for about 7 years now, so it's practically second nature for me these days.

To be honest, I think this project's wiki could actually do with a bit of TLC.. I'd be quite happy to build a nice wiki structure for you guys if you would like? This is something I'd have to do outside

[2015-07-08 09:07] bennyn commented on #82
@danbettles: Good idea! We will add it to our wiki.
@ZaLiTHkA: We would be really happy if you would like to work on our wiki. Are you already allowed to edit it or do you need extra permissions?

[2015-07-08 09:58] ZaLiTHkA commented on #82
No need to change settings, I just checked now and I can edit the wiki.

The default options for GitHub projects is to allow anyone to edit the wiki pages, unless you select the "Restrict editing to collaborators only" option in the project settings.

[2015-07-08 10:05] bennyn commented on #82
Cool! Then you are ready to go. :dancer: Feel free to edit it. Will mention you then in our collaborators section. :+1:

[2015-07-08 21:55] ZaLiTHkA commented on #82
I got a bit distracted this evening, so unfortunately I got to this a bit later than I was planning to, however I have extended the [plugin installation](../wiki/Installation) instructions a bit.

I'll go through all the pages over the next couple days, creating links between them and removing consolidating information where applicable (such as the "Plugin Development" and "Releasing" pages).

@be

[2015-07-09 10:58] bennyn commented on #82
@ZaLiTHkA, I am more than happy. Your description is really good and I like your Markdown styling. :+1: Great to have you on board!

I will close this issue here now. Thanks @danbettles for your feedback!

[2015-07-09 10:58] #82 closed

[2015-07-22 07:03] jhavlin opened #83 "NullPointerException at FileInfo.getCurrentCaretPosition"
Hello,

this exception has been reported to NetBeans Bugzilla.

Stacktrace:
[code]

See https://netbeans.org/bugzilla/show_bug.cgi?id=253637.

Please evaluate this bug. Thank you.

[2015-07-23 14:16] jscssphtml commented on #76
I had a simmilar issue here with my node_modules directory - v0.0.7-beta.

And i'm thinking about what's going to happen if someone will change the bower_directory via .bowerrc file in a web project like:

{
  "directory": "vendor"
}

so that all vendor packages will download to "vendor" which is not the default. Can this be handeled by settings in .editorconf itsself?

[2015-07-27 11:45] jscssphtml commented on #80
+1 for format via menu "source/format" or click on context "format"
+1 for toggle-able on-save

[2015-07-27 21:27] ZaLiTHkA opened #84 "General wiki documentation update"
As per a previous discussion, I finally found some time this evening to go through the wiki and make a few improvements to the pages. :)

@bennyn, Github treats the wiki pages as their own git repo, so forking the code repo doesn't include wiki pages.. They do store their own page change history though, so any changes can be reverted quite easily if need be. Would you mind doing a review of my cha

[2015-08-04 20:36] phptek commented on #81
This would be awesome. I run Nb 8.0.2 on Ubuntu 14.04 which comes with Java 7. Have you seen the hoops to jump through to get Java 8 on there? http://askubuntu.com/questions/464755/how-to-install-openjdk-8-on-14-04-lts

[2015-08-27 00:17] galeksandrp commented on #80
:+1:

[2015-08-27 00:26] galeksandrp commented on #36
:+1:

[2015-08-27 00:28] galeksandrp commented on #50
Well, http://choosealicense.com, MIT.

[2015-08-27 01:15] galeksandrp commented on #76
Now is no exclude in `.editorconfig`. Workaround is adding `.editorconfig` to `vendor/` (or any other folder you need) with content `root = true;`

Or adding your folder here https://github.com/welovecoding/editorconfig-netbeans/blob/master/src/main/java/com/welovecoding/nbeditorconfig/processor/SmartSkip.java#L9

[2015-08-27 06:41] bennyn commented on #76
@t3dev Is the workaround mentioned by @galeksandrp a solution for you? I merged the solution from @galeksandrp a few minutes ago: https://github.com/welovecoding/editorconfig-netbeans/pull/85

[2015-08-27 06:44] bennyn commented on #50
@sindresorhus has also chosen MIT license for his [atom-editorconfig(https://github.com/sindresorhus/atom-editorconfig/blob/master/license).

[2015-09-02 16:41] kepi commented on #80
:+1:

We can't use this plugin at all without this. I believe that editor's task is to edit opened file, not doing magic on all files in project.

[2015-09-02 17:20] martin-kolar commented on #80
:+1:

[2015-09-03 14:25] michalgritzbach commented on #80
:+1:

[2015-09-04 10:43] jyrkij commented on #80
:+1: for format via menu "source/format" or click on context "format"
:+1: for toggle-able on-save

(shamelessly copy pasting from @jscssphtml)

[2015-09-08 01:24] galeksandrp commented on #80
+1

[2015-09-09 13:41] fboes commented on #80
+1 & :thumbsup: on this one; other editors only change files on save. They do not scan pro-actively for files to change.

Is there any quick fix for this problem, because one of our coders can't convince his NetBeans to leave legacy code alone, and has a major problem working with our Sublime text guys.

[2015-09-09 13:49] FinBoWa commented on #80
@fboes only fix that we have found to be solid is to remove the extension out of netbeans for the time being and set NB:s own formatting as close as possible per file type and just call format on NB manually.

Atleast for the indentations and just ignore possible differences on ending spaces and whatnots :).

Of course if most of the legacy code is in a subfolder then you could prevent formatting

[2015-09-09 14:28] fboes commented on #80
@FinBoWa Thx, @bennyn is completely right. And we just found out more about `.editorconfig`'s capabilities by targeting specific folders. I paste our small demo snippet here in case someone wants to follow our footsteps (this may be even smarter than providing an `.editorconfig` you do not want your team to use anyhow ;)):

  [*]
  charset = utf-8

  [htdocs/sites/all/{modules/custom/**/*,themes/*

[2015-09-12 17:06] Yserz commented on #80
Finally I had some time :) Hang on for pre-release 0.9 :package:

[2015-09-12 17:35] bennyn commented on #83
@jhavlin, Thank you very much for your report!
Can you reproduce this issue with [v0.0.8-beta](https://github.com/welovecoding/editorconfig-netbeans/releases/tag/v0.0.8-beta)?

[2015-09-15 09:26] bennyn commented on #80
Thanks for the great feedback from everyone here!

Your **+1**'s helped us to make an easy descision on what goes next into the plugin. A big "Thank you" also goes out to @Yserz for implementing the requested change.

Please download [v0.0.8](https://github.com/welovecoding/editorconfig-netbeans/releases/tag/v0.0.8-beta) and give us feedback if everything works now like expected.

[2015-09-16 13:17] FinBoWa commented on #80
One bug so far.. Or is it actually.

Open a file in get it to fire a save for the file > format happens > close the file in NB > reset the file changes with git for example (you don't just want to commit anything) > wait for a while > editorconfig related changes return back.

Same thing happens even without going the previous steps. Just open netbeans and call "touch README.md" for example.

[2015-09-17 18:59] Yserz commented on #80
Jeah, we are listening for changes for every file which is covered by the editorconfig. This does not only effect NetBeans changes. If you change it with another editor and save it while the project is still opened in NetBeans, it will apply the editorconfig rules automatically. The same applies when the git plugin saves the revert. Could be considered as feature too :) Dunno right now if we can c

[2015-09-17 21:56] #76 closed

[2015-09-18 06:21] FinBoWa commented on #80
Tru dat :) . I have used that behaviour to fire up stuff on netbeans. NB it doesn't allow you to fire up a save without changing the contents so mostly I end up calling touch from the filesystem.

[2015-09-18 06:32] FinBoWa opened #87 "paste - undo - redo combination causes a weirdly formatted file"
This happens at least on PHP projects with the latest version and not always.

Steps to repro:

1. open file for example an xml file
2. paste something to it, preferably a block with the wrong indentation
3. save
4. undo
5. save

You are likely to end up a file that displayed with broken indentations.

[2015-09-18 18:51] Yserz commented on #87
Hey, thx for reporting! Can you post a picture of that bug?

[2015-09-20 21:54] #80 closed

[2015-09-20 21:55] Yserz commented on #83
Fixed with [v0.0.8-beta](https://github.com/welovecoding/editorconfig-netbeans/releases/tag/v0.0.8-beta)

[2015-09-20 21:55] #83 closed

[2015-09-21 06:25] ZaLiTHkA opened #88 "File reformatting is not triggered by all editorconfig rules"
I just tried the `0.0.8` version and the changes introduced in #86 don't seem to work too well.. If I open an existing file and add code that doesn't have the correct indentation, saving the file like that doesn't reformat. However, if the file contents force one of the other formatting properties to update, then the line indentation also updates.

Details from my IDE "About" modal:

[code]

I've

[2015-09-21 07:55] FinBoWa commented on #87
Below is what happens:

![formatting-bug](https://cloud.githubusercontent.com/assets/756860/9987215/1aef6d34-604e-11e5-94cb-1139344f4302.png)

File used for demoing the issue is an layout configuration xml file from Magento. But this behavior will happen on php files also.

After the file gets mall formatted you can't undo it back to a working state.

Frankly I had problems on getting it to cause

[2015-09-21 11:19] jhavlin commented on #83
Version 0.0.8-beta seems to work fine.
Thank you very much for the fix.

[2015-09-21 11:53] Yserz commented on #83
Great to hear that and thx for reporting :)

[2015-09-22 09:04] halfer commented on #79
Just encountered this error, thanks for the information that a later Java version is required. Would it be possible to test the Java version in the initialisation code, and output an appropriate error? Something like:

[2015-09-23 11:22] retokohli commented on #75
Hi @bennyn,
I can confirm the issue.  We use UTF-8 as the default encoding.
If the plugin is disabled, editing and saving files works as expected.
When the plugin is enabled, and a file is saved, all multibyte charactes apparently are treated as single byte characters and encoded to UTF-8 again, as described by @odan.
Please let me know if I can assist you further.

[2015-10-04 10:55] Yserz commented on #87
Hey, I couldn't reproduce this issue but I committed some code which fixes a possible cause for this. Would you mind to try out the fix from the sources?

[2015-10-04 11:33] Yserz commented on #88
Thx for reporting! This bug should be fixed in the latest sources. Would you mind to try the fix from the sources and let me know if you have any further problems?

[2015-10-05 07:43] FinBoWa commented on #87
Tried to open the project form the sources but probably missing some necessary bits on my netbeans

     Some problems were encountered while processing the POMs:
     [ERROR] Unresolveable build extension: Plugin org.codehaus.mojo:nbm-maven-plugin:3.13 or one of its dependencies could not be resolved: The following artifacts could not be resolved: org.codehaus.mojo:nbm-maven-plugin:jar:3.13, org.

[2015-10-05 18:43] Yserz commented on #87
I guess you had no internet :P That's mandatory for maven to get the related dependencies. Another option is that the repository for plexus-utils 1.1 was down for a while. This version number actually reminds me that we could update some dependencies but that's another story :)

[2015-10-06 11:03] FinBoWa commented on #87
@Yserz I just neglegted to press the "resolve" button on the "Resolve Project problems" :)

Im presuming that I got the build to install the updated version and I get the issue much easier now.

Presumably this error relates to the issue:

java.lang.NullPointerException
	at com.welovecoding.nbeditorconfig.processor.FileInfo.lambda$null$2(FileInfo.java:46)
	at com.welovecoding.nbeditorconfig.proces

[2015-10-06 11:12] FinBoWa commented on #87
Hopefully with this you can repro the issue if you use this file:

https://gist.github.com/FinBoWa/dd0034fbd516977e527d

Open that file in a php project.

1. copy a whole block to the clib board. for example the first <reference name="left"> node you see
2. paste that to a logical place
3. save
4. undo

It will break the presentation of the document.

If it doesn't happen on the first undo try, ju

[2015-10-06 13:48] tylik1 opened #89 "Doesn't work on Mac OSX"
It seems that on save nothing is happening.
Steps to reproduce:
Download and install plugin on Netbeans 8.0.2
Restart IDE
Edit and save .less file.
Nothing changes although 4 spaces should become 2 as pointed in .editorconfig file.
I have Java 8 installed

Here is the sample .editorconfig

[code]

[2015-10-06 18:25] Yserz commented on #89
Hey, thx for reporting! Currently we have an issue with this and we are working on it. Can you verify that it is properly indenting when you enable 'insert_final_newline = true' in the editorconfig and remove the newline from the file before saving it (see #88 )?

[2015-10-06 18:33] Yserz commented on #87
Sounds like I made it even worse :o The main issue is with the ´StyledDocumentWriter´ right here
´com.welovecoding.nbeditorconfig.io.writer.StyledDocumentWriter.writeWithEditorKit(StyledDocumentWriter.java:126)´. It seems someone else is writing to the file while we are writing. Are you using Win, Mac or Linux?

[2015-10-06 20:22] tylik1 commented on #89
@Yserz I have the same issue with white space as in #88
But also it seems that Netbeans doesn't format .less files the right way. Even if I disable plugin and manually configure 2 spaces indent for all Languages in setting, it still doesn't work for.less files. I' m still having 4 indents instead of 2.

I guess it is more Netbeans issue though, or probably my imported settings from old machine mes

[2015-10-06 21:07] Yserz commented on #87
I pushed a pretty raw fix for this issue. It will fire exceptions but at least it will not break the file. Unfortunately I don't have time to investigate into this in more detail today :( If you encounter exceptions when clicking somewhere in the lower end of the document closing and reopening of the document helps.

[2015-10-06 21:12] Yserz commented on #89
Uh jeah, sounds like an NetBeans issue since we are relying on the NetBeans indentation in the current implementation. Does it work well for you if you format other file types?

[2015-10-06 21:33] tylik1 commented on #89
@Yserz Yep, javascript is fine. Actually in formatting tab the "Language" select  contains only the following options:
All Languages
HTML
Javascript
JSON
PHP
I'm running Netbeans for php.
The same wrong formatting on my older Windows machine.
So I guess "All languages" is not doing a good job in formatting .less files.

[2015-10-06 21:52] Yserz commented on #89
Mh, I just tested it with my NetBeans 8.0.2 and without the editorconfig plugin and it worked just fine :o

[2015-10-06 22:06] tylik1 commented on #89
Strange. Could you please try this inner block, and confirm that it has proper alignment.
.class-a{
    display:inline-block;
   .class-b{
       float:left;
    }
}

Also after formatting try to change indents from 4 to 2 in settings and try to format again. Sometimes it worked for me, but most of the time I had wrong indents.

[2015-11-06 07:20] bennyn commented on #50
Added the MIT license because it is less strict than GPL v2: http://stackoverflow.com/a/11752204/451634

[2015-11-06 07:20] #50 closed

[2015-11-08 20:05] odan commented on #75
Hello

This issue still exist in v0.0.8.

My current workaround:
Remove this line
[code]
and the original characters are not converted from UTF-8 to UTF-8.

*NetBeans v8.1*
*editorconfig-netbeans Version: v0.0.8*

[2015-11-08 22:30] junichi11 commented on #75
@odan Hi, Can you provide a simple reproducible project?

[2015-11-09 14:21] oroszlanyzsolt commented on #75
In NetBeans 8.1 and editorconfig-0.0.8.nbm the problem still persist the project character set encoding is set to UTF-8. It does not matter if the charset = utf-8 is defined in .editorconfig or not characters like "éáű" became garbage after saving.
OS: Windows 7 x64 SP1

[2015-11-09 14:55] junichi11 commented on #75
It would be helpful if you can provide a simple reproducible project (e.g. as public repo. on GitHub).

[2015-11-09 18:29] oroszlanyzsolt commented on #75
Okey I have naroved the problem down to trim_trailing_whitespace = true this little beast cause the éáűőúóüöíÉÁŰŐÚÓÜÖÍ become Ä‚Â©Ä‚Ë‡ÄąÂ±Äąâ€�Ä‚ĹźÄ‚Ĺ‚Ä‚Ä˝Ä‚Â¶Ä‚Â­Ä‚â€°Ä‚ďż˝ÄąÂ°Äąďż˝Ä‚ĹˇÄ‚â€śÄ‚Ĺ›Ä‚â€“Ä‚Ĺ¤.
trim_trailing_whitespace = true without end_of_line = lf the text becomes corrupted, if you enable end_of_line = lf again it is saved properly. Here you can test it: https://github.com/oroszlany

[2015-11-10 03:17] junichi11 commented on #75
@oroszlanyzsolt Thanks for your information and providing your sample project!

@bennyn I'll fix this since probably I found the cause.

[2015-11-10 08:22] oroszlanyzsolt commented on #75
Awesome, thank you! Is it possible to read the character encoding from the project configuration file?

[2015-11-10 13:44] junichi11 commented on #75
Probably, generally it is not possible because a project may not have its settings.

[2015-11-10 17:03] oroszlanyzsolt commented on #75
This sounds bad, at least Netbeans developers should allow access to project configuration at least some options would be available for plugin  developers.

[2015-11-11 02:34] junichi11 commented on #75
Well... I meant there is no common api which can directly get an encoding from configurations of all project type. e.g. we can get it from a php project. But there are a few problems and It is not smart to get it per project type. So, instead, I used an api which can get it from a file. If `charset` is not set, it will be used. I added a new commit to the PR.

[2015-11-11 10:23] bennyn commented on #75
@oroszlanyzsolt Thanks for taking the time and reporting the encoding issue. We hope that it is fixed now with **v0.0.9**.

You can download it here:
https://github.com/welovecoding/editorconfig-netbeans/releases/tag/v0.0.9-beta

Can you please report back if your issue is fixed now?

[2015-11-11 17:43] oroszlanyzsolt commented on #75
Should I open a bug report or post it here because I found something else. The UTF-8 encoding issue in PHP files works flawlessly now.

[2015-11-11 18:00] bennyn commented on #75
If it is something new, then please open a new ticket. :)

[2015-11-11 18:06] oroszlanyzsolt opened #91 "indent_style and tab_width does not work"
indent_style = tab and tab_width = [integer] have no effect.

editorconfig-0.0.9.nbm
NetBeans 8.1 (x64)
Windows 7 (x64) locale HUN

[2015-11-11 18:09] oroszlanyzsolt opened #92 "editorconfig v0.0.9 rules applied on all opened document"
The v0.0.9 editorconfig applies rules on all other opened documents (the other project does not have an .editorconfig file); project settings are also effected in this process.

editorconfig-0.0.9.nbm
NetBeans 8.1 (x64)
Windows 7 (x64) locale HUN

[2015-11-13 02:15] junichi11 commented on #75
Thanks for verification!

I think we can close this issue.

[2015-11-13 02:15] #75 closed

[2015-11-13 02:19] junichi11 commented on #91
Probably, you should write/provide the following:

- Reproducible code and steps
- Expected results
- Actual results

Thanks.

[2015-11-15 10:39] junichi11 commented on #92
I guess that a parent directory has a .editorconfig file.

[2015-11-17 09:25] bennyn commented on #75
@junichi11 I know that this issue here is solved now but I have seen that some NetBeans projects have the following written in their `project.properties` file:

[code]

Do you think it might make sense to write / change this property (if possible)?

[2015-11-17 09:29] bennyn commented on #88
@ZaLiTHkA Can you please download [v0.0.9-beta](https://github.com/welovecoding/editorconfig-netbeans/releases/tag/v0.0.9-beta) to check if your problem got resolved?

[2015-11-17 09:30] bennyn commented on #6
Ok, thanks for clarification!

[2015-11-17 09:30] #6 closed

[2015-11-17 11:09] junichi11 commented on #75
@bennyn Umm, perhaps yes... but I think that we should not write/change it because an API is not provided to do it.

[2015-11-17 11:31] bennyn commented on #75
Ok, thanks for your feedback!

[2015-11-18 06:23] ZaLiTHkA commented on #88
My apologies @Yserz, not sure how I missed your message.. Would've checked this quite a while back if I'd realised you had a fix. :)

@bennyn, I don't have this issue any more with `0.0.9-beta`, only tested with `.java` files, but since this isn't something that's file specific I doubt that will make much difference.

[2015-11-18 07:20] ZaLiTHkA opened #93 "Netbeans UI appears to lock when trying to save a "properties" file"
I was just testing a few things in the `0.0.9-beta` build, and my NetBeans interface locks up each time I edit the contents of a `.properties` file and save it.

NetBeans itself doesn't crash and there's no suspicious looking CPU or memory spikes, but my mouse pointer shows a "working" icon and nothing responds to input. At this point the only option is to kill NetBeans through Task Manager and re

[2015-12-04 08:40] joc-mer commented on #93
I'm facing exactly the same issue with a standard `.properties` file.

Here are my nb "About" data :

After some debugging, it appears that `StyledDocumentWriter.writeWithEditorKit` is generating self triggering events through `cookie.saveDocument();`.

Even making the saving `Runnable` call async does not solves the problem.

Here is my `.editorconfig` file :
[code]

[2015-12-10 12:52] oroszlanyzsolt commented on #92
Sorry for the late input.
Steps to reproduce the error is:
1) Download project from GitHub: https://github.com/oroszlanyzsolt/editorconfig-netbeans-issues-92
2) Open both index.php from both project-1 and project-2 (see everything is ok yet)
3) Place the editorconfig.txt to project-2 or project-1; not both becuase it will be obvious why the other project inherit settings, place the editorconfig.tx

[2015-12-10 13:05] oroszlanyzsolt commented on #91
https://github.com/oroszlanyzsolt/editorconfig-netbeans-issues-91

indent_style = tab and tab_width = 8 does not have effect on project file while indent_style = space and
indent_size = 10 works as intended.

[2016-01-21 23:45] markiewb commented on #42
If you need help, how to sign a maven-based nbm, then tell me. I did it several times for my plugins.

I also updated the documentation in the wiki recently http://wiki.netbeans.org/DevFaqSignNbm#Can_I_sign_Maven_based_NBMs_I_create.3F

[2016-01-22 06:08] bennyn commented on #42
Hey @markiewb, thanks for offering your help it is definitely needed. We have read that in order to publish to the [NetBeans Plugin Portal](http://plugins.netbeans.org/) it is needed that the code runs on Java 8 & Java 7. Is that right? Because at the moment this plugin here only works with Java 8.

[2016-01-22 16:10] junichi11 commented on #42
It's correct if we would like to provide the plugin via PP Update Center (need verification). Because Java 7 is required in NetBeans 8.1 yet. If we just publish it there, no problem :)

Perhaps, I think we can provide this plugin on PP after the next NetBeans version(NB8.2) is released.

[2016-01-30 20:59] bennyn commented on #81
Hi @phptek, we have received a very nice pull request from @markiewb which brings in support for Java 7. So there is a [release version 0.1.0](https://github.com/welovecoding/editorconfig-netbeans/releases/tag/v0.1.0) now. Can you please download the **editorconfig-0.1.0.nbm** file from there and test if it works on your system?

@Yserz When I remember correctly then we had a balloon tip which gav

[2016-03-19 09:37] llaville opened #96 "EditorConfig file not visible in file list of Netbeans 8.1"
Hello,

I've just tried today your plugin in version 0.1.0 with Netbeans 8.1 on Windows platform 32 bits (Vista).

I was surprised to not see it in projects list on left panel (see screenshot) while we can see in on your project page.  Did I miss something ?

Thanks in advance for any support
Laurent
![editorconfig_netbeans_81](https://cloud.githubusercontent.com/assets/364342/13897797/5d829fba-ed

[2016-03-29 01:18] phantom-d commented on #96
Uncheck checkbox. Look on screenshot.
![screenshot](https://cloud.githubusercontent.com/assets/5058892/14095091/4674f8be-f565-11e5-8e18-f027a6f9b375.jpg)

[2016-03-30 15:47] llaville commented on #96
@phantom-d Thanks for the tip / but finally it does not come from the checkbox. But rather to the ignore File Pattern I have

[code]

[2016-04-11 17:34] #96 closed

[2016-04-26 07:43] MekDrop opened #97 "NetBeans freezes if I try to save document when suggestions box is opened."
I don't know if that happens with other language but for PHP this means that when this happens I always need to kill NetBeans App and start again.

[2016-04-26 08:35] ZaLiTHkA commented on #97
By "suggest box", I assume you're talking about NB's code hinting system, correct? Does your only get stuck after that box is shown or does it also happen if you open a file, add then remove a space, then try save it?

I'm just curious to see if this is in any way related to my bug report in #93..

[2016-04-26 08:44] MekDrop commented on #97
Yeah. You found a better name for this thing. I'm talking about it.

I'm sure that this happens when this box is opened. I mean I type fast. This box is shown. And I use shortcut to save file. Than everything freezes.

About spaces: I think usually everything ok. At least I can't say that I'm 100% sure that somehow because of this such thing happens :/

Also I just have tried with JS file and no f

[2016-04-26 09:02] ZaLiTHkA commented on #97
The idea of adding and removing a space is for nothing more than getting NetBeans to see the file as "edited".. The fact that I choose to use a space doesn't actually mean anything here.

With regards to file formats, I only noticed this behaviour myself with `.properties` files, but I only deal with PHP files at home in personal projects (which I use Sublime Text for).. I deal mostly with Java pr

[2016-05-12 10:16] m6w6 opened #98 "Plugin triggers automatic reformat on save"
When the plugin is active, it triggers a complete reformat of the file saved, though the option "Editor -> On Save -> Reformat" is explicitly disabled.

[2016-05-20 11:11] Mte90 commented on #98
so this is the plugin that generate this problem...
I have also on my configuration but now i can disabled and works without problems.

[2016-08-05 08:31] ZaLiTHkA commented on #93
I'm still battling with this issue in version `0.1.0`, which is preventing me from getting our dev team to use this plugin..

Has anybody had a chance to look into this? Is it a complex issue to resolve?

In the meantime, is there any way to tell this plugin to ignore specific file extensions? I've tried removing the `properties` extension target from my `.editorconfig` rules, but the NB UI still

[2016-08-05 10:01] bennyn commented on #93
@ZaLiTHkA, which files would you like to have ignored? You can add them here:
- https://github.com/welovecoding/editorconfig-netbeans/blob/master/src/main/java/com/welovecoding/nbeditorconfig/processor/SmartSkip.java

[2016-08-05 11:05] ZaLiTHkA commented on #93
At the moment, it's related to this particular ticket; so quite simply any file with a `properties` extension.

For what it's worth, one of my projects has a series of language files in `UTF-16 BOM` encoding (don't ask, very long story), while all the others use `UTF-8`, but I see the same behaviour with both encoding options.

Thanks for the file link, I think it the meantime I'll fork this proje

[2016-08-11 14:45] Wirone commented on #44
Does not work for me. NetBeans 8.1, JDK 1.8.0_60.

[code]

When I save my file final newline is missing. If I add it manually, it is trimmed on save. When I disable EditorConfig plugin it works ok (final new line isn't trimmed).

[2016-08-16 17:49] ZaLiTHkA commented on #93
Just a quick note: I couldn't manage to get the plugin to ignore all `.properties` files. Ignore individual filenames seems simple enough, but we have a great number of them with different names.

Suppose I'll just have to wait for an official fix to this issue then. (:

[2016-08-17 09:49] vimar commented on #97
I have the same problem, it seems to arrive more often on phptemplate (files with PHP and HTML mixed into it).

[2016-08-17 09:51] bennyn commented on #97
@vimar and @ZaLiTHkA can you make a screenshot of the freeze and NetBeans console log?

[2016-08-17 09:53] vimar commented on #97
@bennyn where I can find the NB console log?

[2016-08-17 12:18] bennyn commented on #97
@vimar I double checked the issue. You can find NetBeans log messages also in a file. On Windows they are saved here: `%APPDATA%\NetBeans\8.1\var\log\messages.log`. On Ubuntu they should be in a similar path (within your NetBeans user directory).

It would be nice if you can check the logs (when your NB crashes) and post them here. Our log entries start with `com.welovecoding.nbeditorconfig`.

**E

[2016-08-17 12:21] bennyn commented on #93
@ZaLiTHkA Would it help if we supply the functionality to ignore files by a regular expression?

Can you list some sample paths like:

[code]

This would help me to understand your directory layout in order to write a proper regex for it.

[2016-08-17 12:24] bennyn commented on #92
Thanks @oroszlanyzsolt for putting so much effort in reproducing the issue. We are a little (actually not just a little!) late but we didn't forget about the bug. Will do investigations on that soon...!

[2016-08-17 12:27] bennyn commented on #89
Looks like it's related to https://github.com/welovecoding/editorconfig-netbeans/issues/91 ("indent_style" and "tab_width" does not work). Since the EditorConfig plugin is working on OSX I will close this issue here and keep #91 open.

Thanks for reporting, @tylik1!

[2016-08-17 12:27] #89 closed

[2016-08-17 12:29] bennyn commented on #84
I like your Wiki changes. :smiley:

Do you like beers? If so, I would like to send you a bucket of nice beers to say "Thank you". :beers:

[2016-08-17 13:27] vimar commented on #97
NetBeans just freezes:

[code]

[2016-08-17 13:38] bennyn commented on #97
Thanks @vimar. It looks like it crashes when writing to the document. Or when moving the caret position. I will add more logs to be able to debug this!

[2016-08-17 21:30] ZaLiTHkA commented on #93
Thanks, very kind. In my particular case I want to throw `
/(?:^.+?\.properties$)/gm` at the "ignore" list... However, would it not make more sense to allow a list of "exclude" patterns to be provided by the user through the plugin settings?

A recursive search with this pattern shows 187 in my main projects folder, plus 31 in my sandbox. Scary filenames with no logic or structure between them, I

[2016-10-23 20:44] cowwoc opened #100 "README points to non-existent Wiki page"
The README file points to the "Indentation" wiki page, but no such page exists.

[2016-10-24 08:34] #100 closed

[2016-10-24 08:34] bennyn commented on #100
Thanks @cowwoc. We got this one addressed. :)

[2016-10-31 00:13] Carlgo11 commented on #87
@Yserz That didn't fix it. I have the same issue.

[2016-11-18 08:03] emabrey commented on #98
@m6w6 @Mte90
Do you mean it triggers the Netbeans configured reformat settings configured via Options?

Or do you mean that the plugin automatically fixes files to be compliant with the editorconfig on save (which is intended behavior I think)? If it is this second meaning then this should really be a feature request and not a bug.

[2016-11-18 10:16] m6w6 commented on #98
The former. I wouldn't dare complaining about intended behavior :)

[2016-11-18 11:01] Mte90 commented on #98
Yes, the reformat is executed at the save for every file and there is no option to disable it.

[2016-11-20 21:12] emabrey commented on #98
@m6w6 I have tried to figure out how and or why this might be happening simply by looking at the code but so far I can't figure it out. Can you give me some steps to reproduce?

[2016-11-20 21:35] emabrey commented on #98
@Mte90 Configuring editorconfig outside of the _.editorconfig_ file would be counterproductive (one of the great things about editorconfig is the file-based config). However, have you tried simply adding a section to the relevant _.editorconfig_ file which defines no style for the files in question? For example, to stop your mchammer files from being formatted:
[code]
 The [supported wildcards for

[2016-11-21 09:32] bennyn commented on #98
The automatic reformat is triggered by [these lines of code](https://github.com/welovecoding/editorconfig-netbeans/blob/master/src/main/java/com/welovecoding/nbeditorconfig/io/writer/StyledDocumentWriter.java#L160-L161):

[code]

When an [EditorConfig](http://editorconfig.org/) file is found, we update the properties on the [Project Formatting](https://blogs.oracle.com/coreqa/entry/formatting_sett

[2016-11-21 11:53] emabrey commented on #98
The `ReformatOnSaveTask` class (within the org-netbeans-modules-editor module) is the class the IDE uses to reformat files on save. It checks for the reformat settings by using the `SimpleNameValue.ON_SAVE_REFORMAT` key to query a `Preferences` instance created based upon the queried value of `SimpleNameValue.ON_SAVE_USE_GLOBAL_SETTINGS`. The `SimpleNameValue.ON_SAVE_REFORMAT` key can return [mult

[2016-11-21 12:09] junichi11 commented on #98
@bennyn Probably, these can be used to check it.

[2016-12-02 10:03] sanishmfod opened #103 "Netbeans 8.2"
When installing this plugin (v0.10.1)  I get the following exception when attempting to open any projects :

v0.10.0 Works as expected

Product Version: NetBeans IDE 8.2 (Build 201609300101)
Java: 1.8.0_101; Java HotSpot(TM) 64-Bit Server VM 25.101-b13
Runtime: Java(TM) SE Runtime Environment 1.8.0_101-b13
System: Linux version 4.4.0-47-generic running on amd64; UTF-8; en_GB (nb)
Plugin Version :

[2017-01-18 21:40] emabrey opened #104 "Jetbrains Licenses for Project Contributors"
## Jetbrains Licenses for Project Contributors

I have gone through the process of getting contributors to this project open-source license keys for the Jetbrains All Products Pack (woohoo!🎉). I have received 4️ license keys, normally worth about $1000 total, for **free**! They are intended for use by the publicly listed contributors of this project. One of those contributors is myself, but I need

[2017-01-23 08:44] sulian commented on #103
I confirm the problem on my NetBeans IDE 8.2 installation (Build 201610071157)

[2017-02-03 15:50] the-melonhead commented on #103
Confirmed on NB 8.2

[2017-02-07 18:22] emabrey commented on #103
I'll take a look at this sometime soon. Can someone assign this to me or give me issue permissions so i can do it myself?

[2017-02-07 22:24] argordmel commented on #103
Confirmed on NB 8.2 MacOS

[2017-02-08 22:17] bennyn commented on #103
Hey @emabrey, thanks for being so proactive! I sent you an invite for collaboration on this project. Once you accept it, I can assign this issue to you.

[2017-02-08 22:28] bennyn commented on #104
Hey Emily, I'm speechless... This is great news!! 🎈 🐦

As an avid WebStorm user I could definitely make use of it. 😃 What's needed to claim the license? Just this email to you?

If there are still 3 licenses left, then we can check who really needs / wants one because I am still on a paid Jetbrains plan, so I don't need a license right away.

@ZaLiTHkA has been a very active contributor. Maybe he

[2017-02-08 22:34] markiewb commented on #104
@bennyn: Thanks for the thought. I already have an IDEA Ultimate subscription.

[2017-02-08 22:42] emabrey commented on #104
Yes if you just email me I can reply with a link for you to click. You click the link and sign-in or register a Jetbrains account, and it handles putting you into the licensed organization automatically. Removal is manual, but adding people is easy. I would've just posted that link here, but it's private info since anyone with a Jetbrains account can use it to add themselves to the org. I could've

[2017-02-08 22:44] emabrey commented on #103
👍 Thanks @bennyn

[2017-02-08 22:51] bennyn commented on #103
You are welcome. Happy to see you here with a "Collaborator" badge. 😃

[2017-02-08 23:02] emabrey commented on #104
@markiewb Just be clear this includes a lot more than IDEA. You can use the non-IDEA software for open source licensed products and continue using the paid license for IDEA and it won't cause any conflicts. But it is probably a good idea to keep the licenses for people that don't have any non-community IDEA license since this project isn't likely to get a ton of use out of the other licenses. The

[2017-02-09 07:17] ZaLiTHkA commented on #104
Wow, thanks so much for the offer @bennyn, but I don't feel I've contributed enough to this project to really justify that.. At least not yet anyway. :)

I love the irony though; getting offered a JetBrains license for helping out with testing a NetBeans plugin.

[2017-02-09 18:30] emabrey commented on #104
@ZaLiTHkA well it sounds ironic on the surface, I agree, but generally speaking it can be much easier to develop for a platform without using that platform as part of the development. Since IntelliJ provides a built-in EditorConfig support for it's IDEA Ultimate IDE it also provides us with a reference implementation. I can't speak for everyone else, but personally I use IntelliJ and Netbeans both

[2017-02-10 09:36] emabrey commented on #103
I think I may have fixed this problem locally, but I haven't really figured out what was causing it. I replaced the `@LookupProvider.Registration` annotation with a  `@ProjectServiceProvider` annotation (including an additional `service = LookupProvider.class` parameter) within `ProjectHookLookup` and that seemed to fix the problem. This is the relevant log output from running my modified version

[2017-02-13 13:29] wadechandler commented on #103
@emabrey I think the base issue is caused by NB platform 81 and 82 moving ProjectOpenedHook to a different dependency, so I think for NB 8.1 and 8.2 and beyond, currently the fix is:

pom.xml:

[code]

[code]

So, this is in a different dependency which isn't available in 801 which the plugin depends on.

Too, I think some of the actions are run on background threads, and thus this may be needed i

[2017-02-13 16:26] wadechandler commented on #103
I can report back though things seem to be working locally with the above changes as I built skipping the tests. There do seem to be issues in that I needed a restart after installing, though after install NB didn't say that, and too, it seems there is some caching of .editorconfig data as I have deleted the file, restarted, and saving doesn't reformat, but using reformat will reformat a file even

[2017-02-15 13:09] mikeydoesit opened #105 "Error whilst installing Netbeans 8.2"
Everytime I attempt to install Netbeans on my linux machine i get this error.

[code]
Can anybody help me correct this issue please?

[2017-02-16 06:24] ZaLiTHkA commented on #105
This seems to be a Netbeans installation issue, not related to this plugin directly.

Try the instructions posted on [this SO question](http://stackoverflow.com/questions/17355863/cant-find-install-libxtst-so-6), they should help you get NB up and running.

[2017-02-16 11:02] mikeydoesit commented on #105
Thank You
@ZaLiTHkA

[2017-02-16 11:02] #105 closed

[2017-03-10 00:47] GoshaEgorian opened #106 "How to delete plugin"
If you have NetBeans 8.2, plugin doesn't work. But you need to use IDE. How to delete plugin?

[Related issue](https://github.com/welovecoding/editorconfig-netbeans/issues/103).

[2017-03-10 01:55] wadechandler commented on #106
Tools|Plugins|Installed and click to "Show Details", find it, check it,
choose uninstall.

Wade

On Mar 9, 2017 7:48 PM, "Gosha Egorian" <notifications@github.com> wrote:

[2017-03-11 11:09] GoshaEgorian commented on #106
@wadechandler thanks! I missed "Show Details" button, now it's OK, plugin was deactivated.

[2017-05-12 09:21] hhallou commented on #96
Hi,
Am working with netbeans 8.1 and I've just installed this plugin. When i activate the plugin, none of my projects will open.
Here's what I get
`INFO [com.welovecoding.nbeditorconfig.listener.ProjectHookLookup]: Setup hooks for: EmploiPublic
SEVERE [org.openide.util.RequestProcessor]: Error in RequestProcessor org.netbeans.modules.project.ui.ProjectChooserAccessory$1
java.lang.NoClassDefFoundEr

[2017-05-12 22:15] ZaLiTHkA commented on #96
@hhallou, it would be better for you to open a [new issue report](https://github.com/welovecoding/editorconfig-netbeans/issues/new) for this one. This report is about a different issue that was already solved.. Also don't forget to include some more information, like your IDE JDK version, operating system, etc. :)

[2017-06-19 08:35] adellanna commented on #103
Tried to install plugin v0.10.1-SNAPSHOT from branch master, then plugin v0.10.1 from tag v0.10.1
Tag v0.10.1 points to v0.1.1 so I installed this version
When I tried to install plugins I got the following exception for both versions (v0.10.1-SNAPSHOT and v0.1.1) when attempting to open any projects :

Product Version: NetBeans IDE 8.2 (Build 201609300101)
Java: 1.8.0_25; Java HotSpot(TM) 64-Bit

[2017-07-21 22:54] Jenselme commented on #103
Based on @wadechandler [comment](https://github.com/welovecoding/editorconfig-netbeans/issues/103#issuecomment-279392359) I was able to fix build and tests on NetBeans 8.2. You can see it here: https://github.com/Jenselme/editorconfig-netbeans/tree/netbeans-82

After some quick testing, it looks like formatting is broken for some JSON files (eg [this one](https://github.com/Jenselme/tests-ionic2-a

[2017-07-22 10:01] bennyn commented on #103
@Jenselme It's great that you push "editorconfig-netbeans" forward! 🌞

@Yserz and I were always hoping to get it into the official [NetBeans Plugin Portal](http://plugins.netbeans.org/) one day...

You can download older versions of the "editorconfig-netbeans" plugin from the [Releases page](https://github.com/welovecoding/editorconfig-netbeans/releases) to verify if the JSON formatting bug alread

[2017-07-23 09:06] Jenselme commented on #103
I can open a pull request for my work if you want.

I don't know how much I'll be able to push the project forward since I have many other projects (including the Python plugin for NetBeans).

I tried on 8.0.1 and 8.0.2: the indentation was not respected but the formatting of the file was not completely broken.

[2017-08-04 12:33] MimiXav commented on #103
I confirm the bug on this, unfortunately, I don't see any fix on this??
Do you have a workaround ?

Thx

Regards

[2017-08-04 12:42] Jenselme commented on #103
@MimiXav you can clone my fork `git clone --branch netbeans-82 git@github.com:Jenselme/editorconfig-netbeans.git` then build the NBMs from source with `nvm clean install`. Will be in `target/editorconfig-0.10.1-SNAPSHOT.nbm`.

[2017-08-04 12:48] MimiXav commented on #103
Cool, I do this

[2017-08-04 13:32] MimiXav commented on #103
Ok, I did, but unfortunately, My netbeans is freeze after a alt + shit + f ???
Do you have any idea? my netbeans is:
Product Version: NetBeans IDE 8.2 (Build 201705191307)

Regards

[2017-08-04 13:39] Jenselme commented on #103
I don't. I haven't used this plugin much yet.

What kind of project to you use?

[2017-08-04 14:43] MimiXav commented on #103
Maven project, and java files

[2017-08-15 15:42] marcuscf commented on #103
Is this plugin currently usable on the latest NetBeans 8.2 after all? I don't want to waste time downloading and installing (possibly multiple versions of) this plugin and finding that it doesn't work at all.

[2017-08-18 10:00] Jenselme commented on #103
I'd say its unstable. You can build it from the source as decribed [previously](https://github.com/welovecoding/editorconfig-netbeans/issues/103#issuecomment-320238915). However, I experienced formatting errors while using it. So my recommendation is: wait until these issues are addressed and a proper release for 8.2 (or even 9.0) is made.

[2017-10-06 21:01] Mte90 commented on #98
any news for this one?

[2017-10-24 15:28] bennyn commented on #106
Happy to hear that the problem is solved. Thanks for your help @wadechandler. 😃

[2017-10-24 15:28] #106 closed

[2017-11-01 19:23] Chris2011 commented on #98
I really want to contribute, but when I build it for NetBeans 8.2 and run it and open a project, I got lots of NoClassDefFound exceptions:

[code]

[2017-11-01 19:25] Chris2011 commented on #98
@bennyn so would be great if you can fix this error first and I can check the original problem of this ticket here. :)

[2017-11-05 01:37] markiewb commented on #98
@Chris2011: The issue reported by you (NoClassDefFoundError) is a duplicate of #103

[2017-11-05 12:30] Chris2011 commented on #98
@markiewb ok thx.

[2017-11-06 12:25] Chris2011 commented on #103
Can someone of you please make a PR to fix this bug? Would be great.

[2017-11-07 10:00] #103 closed

[2017-11-08 16:10] argordmel commented on #98
I've the same problem, the editor reformat all lines when I save the file and I have disabled this option

Plugin Version: 0.10.2
Netbeans 8.2
MacOS High Sierra

Thanks!

[2017-11-08 16:11] Chris2011 commented on #98
@argordmel I created a PR #108 it is up to @bennyn :)

[2017-11-08 16:12] Chris2011 commented on #87
Same issue, I tested a JSON file. It is really weird.

[2017-11-08 16:57] bennyn commented on #98
@Chris2011 I reviewed your code. Looks almost perfect, so we can merge it very soon. :)

[2017-11-08 17:07] #98 closed

[2017-11-08 17:16] Chris2011 opened #109 "Method writeWithEditorKit is a performance problem"
One of the biggest problems, that I figured out, is that when you save your changes, it will run very often the writeWithEditorKit method or the runnables inside. This is a performance problem I think, because first you feel and see it. You see the spinning wheel after you hit save and you feel changed in the editor window. So I only tested it in my dev enviroment with no plugins, only with this p

[2017-11-08 17:19] Chris2011 opened #110 "StringIndexOutOfBoundsException while adding more lines to the end of the file"
Because of testing my PR, I added some new lines to the end of the file and I got the following exception. This should not happen.

[code]

Cheers

Chris

[2017-11-08 17:21] Chris2011 opened #111 "ArrayIndexOutOfBoundsException while using undo"
While testing my PR, I got this exception, when I changed a json file. I changed the code inside of it, hit save and did often a undo (ctrl + z) and after the second undo or smth like that, I got this exception, which shouldn't happen:

[code]

Regards

Chris

[2017-11-08 20:22] bennyn commented on #110
Hey Chris, this is very valuable debug info! Can you hook up a test case for it?

[2017-11-08 21:27] Mte90 commented on #109
Seems also that on saving the file there are different refresh (I see the cursor blinking from pointer to write).
Removing the plugin now netbeans don't get 77% of my cpu, seems that the actual plugin also with the fix offormat is not yet stable to use it.

[2017-11-08 21:28] Mte90 opened #112 "How to check if the editorconfig is loaded?"
On readme is explained to wait the restart of netbeans and readd a project (I closed it on and opened again in netbeans as test).
The only difference that I can see is the icon of editorconfig file.
There is  a way to find what editorconfig file inside the project is loaded? And if that project contain an editorconfig file loaded?

[2017-11-09 08:22] Chris2011 commented on #110
* Open a normal json file, like tsconfig.json or package.json for example
* Set the cursor to the end of the file
* Hit 4 or 5 times ENTER
* Save the file
* Error occurs.

[2017-11-09 08:23] Chris2011 commented on #109
I think the refresh is normal, because of adding the formatted text again to the editor, maybe there can be an other possibility to reformat it with the normal NB functionality but map the settings from the editor config file.

[2017-12-13 04:12] swhp opened #113 "Editorconfig file marked as modified when switching git branch"
I was encounter some issues while using *editorconfig-netbeans* when switching git branch. On my case, I'm using Windows operating systems with Git Bash Emulation. Whenever I tried to switch branch on my Git Bash Emulation I would get error: `Your local changes to the following files would be overwritten by checkout` on file `.editorconfig` even though I'm not made any change on that file.

I coul

[2017-12-13 07:25] swhp commented on #87
Have same issues with version 0.10.3, on Java file.

[2017-12-13 08:48] Chris2011 commented on #87
Could be related to this too: https://github.com/welovecoding/editorconfig-netbeans/issues/111

[2017-12-29 12:11] mvorisek opened #114 "indent_size should override the formatting config"
How to reproduce:
- Netbeans formatting: 4 space

- .editorconfig:
[code]

Current result:
pressing tab results in 4 spaces

Expected result:
pressing tab results in 2 spaces

[2018-02-13 23:14] sinan-evanshunt commented on #114
Same here. Don't really want to switch to another IDE, been using it for so many years. But now I'm part of a larger developers group; I might have to.

[2018-06-06 06:56] Chris2011 commented on #109
Can someone have a deeper look into this problem, with more knowledge? I think this is one big problem and needs a fix for this.

[2018-06-06 06:56] Chris2011 commented on #110
Smth new here? This and ticket #111 is preventing the most people from using this plugin, I guess.

[2018-06-06 06:57] Chris2011 commented on #87
Smth new here?

[2018-09-13 14:28] Chris2011 commented on #111
anything new here=

[2018-09-13 14:29] Chris2011 commented on #110
Nothing new here? Anyone?

[2018-09-13 14:29] Chris2011 commented on #109
Anything new here? Anyone?

[2018-09-27 07:24] kg6zvp opened #115 "Invalid Java Version for EditorConfig on Netbeans 9.0"
I just installed EditorConfig on my brand new NetBeans 9.0 install using OpenJDK 11 on Fedora 28.

I received the following message: "The EditorConfig plugin needs at least Java 8 to work. Please consider to update to Java 8."

[2018-09-28 14:48] ZaLiTHkA commented on #115
interesting... I noticed the same sort of message from a Gradle Wrapper build script recently when I tried to run it with JDK 10.

perhaps something with how the JDK version is checked (i.e.: JDK `8` is `1.8` internally)?

[2018-09-28 19:13] kg6zvp commented on #115
@ZaLiTHkA Could be. :man_shrugging: Embarrassingly enough I haven't looked at the source code for this extension, I've just been using it.

[2018-11-22 01:58] emabrey commented on #115
This comes down to us using a regex to check version information instead of using the Netbeans platform class to verify the JDK version. I have a fix I will be pull requesting for comments.

[2018-11-22 07:45] emabrey commented on #115
@kg6zvp @ZaLiTHkA

[Here](https://www.dropbox.com/s/zf885m2uo047k9h/editorconfig-0.10.4-SNAPSHOT.nbm?dl=0) is a copy of the plugin module build of a proposed fix. Please download and [manually install the plugin](http://wiki.netbeans.org/FaqPluginInstall) to test if the bug is fixed on your machines.

[2018-11-23 02:59] #115 closed

[2018-11-23 05:57] ZaLiTHkA commented on #115
Thanks @emabrey, I'll check it out when I get back to work just now. :)

[2018-11-24 06:00] emabrey commented on #36
@bennyn @galeksandrp

We could add a UI element using [the Project UI API](http://bits.netbeans.org/8.2/javadoc/index.html). The classes [`ProjectConfiguration`](http://bits.netbeans.org/8.2/javadoc/org-netbeans-modules-projectapi/org/netbeans/spi/project/ProjectConfiguration.html) and [`ProjectConfigurationProvider`](http://bits.netbeans.org/8.2/javadoc/org-netbeans-modules-projectapi/index.html?

[2018-11-27 04:00] #81 closed

[2018-12-23 19:15] LeMyst opened #120 "end_of_line doesn't work"
How to reproduce:

- Netbeans 8.2 (PHP) or 9 - Windows 10
- editorconfig-netbeans v0.10.4
- Source file have "CR" ending line
- .editorconfig

[code]

Current result:
Ending line is not modified to the requested value

Expected result:
"CR" ending line become "CRLF" (or "LF")

Log:
[code]

[2018-12-31 20:18] ve3 commented on #120
I'm using Netbeans 8.2 on Windows 10.
It is not just `end_of_line` doesn't work but many properties doesn't work.

[code]

From my config: `end_of_line`, `insert_final_newline`, `trim_trailing_whitespace` are not working.
Other than this, I'm not sure because my Netbeans settings is already did that.

[2019-01-10 03:33] ve3 commented on #91
Is this project alive because it seems that all the rules are doesn't work.

https://github.com/welovecoding/editorconfig-netbeans/issues/120

[2019-01-31 12:21] Chris2011 commented on #114
Afaik, the config will only work on save, not immediately, but only guessin. maybe @bennyn can say smth here?

[2019-01-31 12:22] Chris2011 commented on #111
Can please someone have a look who has more knowledge about it, than me? @bennyn can you maybe have a look please? Otherwise the plugin will be unusable.

[2019-01-31 12:22] Chris2011 commented on #110
Can please someone have a look who has more knowledge about it, than me? @bennyn can you maybe have a look please? Otherwise the plugin will be unusable.

[2019-01-31 12:22] Chris2011 commented on #109
Can please someone have a look who has more knowledge about it, than me? @bennyn or @Mte90 can you maybe have a look please? Otherwise the plugin will be unusable.

[2019-01-31 13:03] Mte90 commented on #109
I am not using anymore this plugin and migrated to Vim. I am using Netbeans only for few projects right now.

[2019-02-08 10:32] bennyn commented on #109
@Chris2011 I switched to WebStorm a few years ago so I am not up-to-date with NetBeans development but PRs for this project here are more than welcome. Do you have an idea how to improve the performance problem and have less calls to `writeWithEditorKit`?

[2019-02-08 13:01] Chris2011 commented on #109
@bennyn I have to understand, why this is happening or why does this implemented as it was. Maybe a rewrite will fix the problem anyway(?).

[2019-04-02 12:21] Chris2011 commented on #111
Hey @emabrey do have time to have a look? Benny pointed me in your direction ;).

[2019-04-04 07:40] emabrey commented on #111
I'm attending school currently and I have several exams this week, but if I have the time I'll try to look at this this week. Otherwise I'll do it as soon as I can, but I will look at this ASAP either way.

[2019-04-04 08:15] Chris2011 commented on #111
@emabrey no worries, we have some prio: high bugs/tickets which prevents some users of using this plugin. We should focus on those things first.

[2019-04-04 08:15] Chris2011 commented on #111
Thx for your interest and info :)

[2019-04-04 08:16] Chris2011 commented on #109
@bennyn hey, can you please add prio: high on that? This is a big problem of this plugin.

[2019-09-22 15:19] tekapo commented on #115
Thanks @emabrey !
Your fix, editorconfig-0.10.4-SNAPSHOT.nbm, works fine with NetBeans 11.1 on:
[code]

[2019-09-23 09:22] bennyn commented on #115
@emabrey Is [this](https://github.com/emabrey/editorconfig-netbeans/commit/2af1f45632eac81157c86fa28f316b221e1ddd4c) the fix? If yes, we can apply it and create an official v0.10.4 [release](https://github.com/welovecoding/editorconfig-netbeans/releases). :)

[2019-09-23 09:29] bennyn commented on #115
Thanks for your feedback @tekapo. We just created an official [v0.10.4](https://github.com/welovecoding/editorconfig-netbeans/releases/tag/v0.10.4). 🎉

[2019-10-16 20:36] faelgabriel opened #122 "Not working on Netbeans 11.1"
This plugin is not working on the Netbeans 11.1 version.

When I try to save a file, the IDE throws the following exception:
`java.lang.StringIndexOutOfBoundsException: begin 0, end 2397, length 2329
	at java.base/java.lang.String.checkBoundsBeginEnd(String.java:3720)
	at java.base/java.lang.String.substring(String.java:1909)
	at com.welovecoding.nbeditorconfig.processor.operation.TrimTrailingWhit

[2019-10-29 15:49] Chris2011 commented on #111
Hey @emabrey how is the progress here?

[2020-02-13 14:03] cdalexndr opened #124 "Integration with NetBeans formatting options"
Instead of some _magic_ that happens when you save your file, it would be better to allow to load the formatting options from an `.editorconfig` file directly into NetBeans formatting options (overwriting them). This way formatting will also work with manual format (Alt+Shit+F).

[2020-04-22 07:32] Chris2011 commented on #111
Hey, anything new here?

[2020-04-22 07:32] Chris2011 commented on #110
Anything new here?

[2020-07-24 14:05] Chris2011 commented on #124
I don't think that each config property inside editorconfig, can map to the options, due to limitations for other languages than Java. So it would be better to fix the plugin IMHO.

[2020-07-25 07:01] bennycode commented on #124
@Chris2011 thanks for keeping the topic alive.

@Yserz and I haven't been working on the NetBeans EditorConfig plugin for years. We both are fulltime TypeScript developers now and work most of the times with WebStorm and Visual Studio Code. That's why we deprecated the NetBeans EditorConfig plugin.

I just added a [deprecation notice](https://github.com/welovecoding/editorconfig-netbeans/commit/27

[2020-07-27 17:23] Chris2011 commented on #124
I think the biggest problems are those bugs: #109, #110 and #111. if those could be fixed, we can think of transfering the code to the Apache NetBeans core :). But before I don't think so.

[2021-04-10 02:48] #120 closed